<script>
var springStats = springStats || {};
springStats.saConfig = springStats.saConfig || {
    site_id: 50,
    tracking_parameters: {"_st_site_id":50},
    tracking_server_host: "libguides-proc.springyaws.com"
};
</script>
<script async  src="//lgapi-us.libapps.com/web/js/sa.min.js?3116"></script>
<script>
    springSpace.Common = springSpace.Common || { };
    springSpace.Common.constant = { PROCESSING: { ACTION_DISPLAY_POLL: 159 }};
    springSpace.Common.baseURL = "//lgapi-us.libapps.com'/";
    springSpace.Common.apiLoad = true;
</script><script>
springshare_widget_config_1569955892898 = { path: 'boxes/22309218' };
</script>
<div id="s-lg-widget-1569955892898"></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=50&widget_type=8&output_format=1&widget_title=%D0%9E%D0%B1+%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85+%D1%81%D0%B2%D1%8F%D0%B7%D0%B0%D0%BD%D0%BD%D1%8B%D1%85+%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85+%D0%9E%D0%9E%D0%9D&widget_height=&widget_width=&widget_embed_type=1&guide_id=545492&box_id=22309218&map_id=26187382&content_only=0&config_id=1569955892898";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1569955892898");</script>