<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>О нас</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/8067" title="">Наша деятельность</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/8070" title="">Наш мандат и история</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/8073" title="">Наши фонды</a></li>
                <li class="last leaf"><a href="https://library.un.org/node/121" title="">Депозитарные библиотеки ООН</a>
                </li>
            </ul>
            <h5>Поисковые ресурсы ООН</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9879" title="">Ресурсы и документы ООН</a>
                </li>
                <li class="leaf"><a href="https://digitallibrary.un.org/?ln=ru"
                        title="Для вас: документы, итоги голосований, тексты выступлений, и многое другое!">Цифровая
                        библиотека ООН</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9921" title="">Исследовательские руководства</a>
                </li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9927" title="">Указатель заседаний (ITP)</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9936" title="">Выступления</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9984" title="">Информация о голосовании</a></li>
                <li class="last leaf"><a href="https://library.un.org/unms" title="">Государства-члены ООН:
                        Официально</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>Поиск</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9987" title="">Статьи, книги и другие
                        материалы</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10014" title="">Базы данных</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10017" title="">Журналы</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9879" title="">Ресурсы и документы ООН</a></li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/10428" title="">Библиотеки ООН</a></li>
            </ul>
            <h5>Помощь</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/10020" title="">Обучение</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9921" title="">Исследовательские руководства</a>
                </li>
                <li class="last leaf"><a href="http://ask.un.org/" title="">Спросите DAG</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>Услуги для...</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9975" title="">Делегатов</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10062" title="">Персонала ООН</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10056" title="">Исследователей и
                        библиотекарей</a></li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/10050" title="">Широкой публики</a></li>
            </ul>
            <h5>Пользование библиотекой</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/10011" title="">Доступ к электронным
                        ресурсам</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10008" title="">Получение книг и других
                        материалов</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9912" title="">Печать, сканирование и
                        копирование</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9909" title="">Запрос статей, книг и других
                        материалов</a></li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/9903" title="">Посещение Библиотеки</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
            <div
                class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-75a81d6775c0527fa527786c52ddba29">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>






            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/ru/index.html" title="Home">
                    <span class="site-name">Организация Объединенных Наций</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a
                                    href="http://www.un.org/ru/sections/about-website/copyright/index.html">© ООН</a>
                            </li>
                            <li class="leaf"><a
                                    href="http://www.un.org/ru/sections/about-website/fraud-alert/index.html">Остерегайтесь
                                    мошенничества</a></li>
                            <li class="leaf"><a
                                    href="http://www.un.org/ru/sections/about-website/privacy-notice/index.html">Конфиденциальность</a>
                            </li>
                            <li class="last leaf"><a
                                    href="http://www.un.org/ru/sections/about-website/terms-use/index.html">Условия
                                    пользования</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</footer>