<!-- begin common footer -->
<div class="section section-fluid home-footer gray-bg">  
  <div class="container">    
    <div class="row topmargin">      
      <div class="divider"></div>    
    </div>    
    <div class="row">    
      <div class="col-md-9">    
        <div class="row">
          <div class="col-md-4">  
            <section class="region region-footer-1">     
              <div class="block block-menu">       
                <h4 class="font-bold">About</h4>      
                <ul class="menu nav">              
                  <li class="leaf">                <a href="https://www.un.org/en/library/contact-us">Contact Us</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/our-activities">Our Activities</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/our-mandate-history">Our Mandate & History</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/our-collections">Our Collections</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/united-nations-depository-library-programme">UN Depository Libraries</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/librarynews">Library News</a>              </li>         
                </ul>     
              </div>  
            </section>
          </div>
          <div class="col-md-4">  
            <section class="region region-footer-1">     
              <div class="block block-menu">       
                <h4 class="font-bold">Find</h4>      
                <ul class="menu nav">              
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/articles-books-more">Articles, Books & More</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/databases">Databases</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/journals">Journals</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/un-resources-documents">UN Resources & Documents</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/un-libraries">UN Libraries</a>              </li>         
                </ul>     
              </div>  
            </section>
          </div>
          <div class="col-md-4">  
            <section class="region region-footer-1">     
              <div class="block block-menu">       
                <h4 class="font-bold">Services for...</h4>      
                <ul class="menu nav">              
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/services-delegates">Delegates</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/services-un-staff">UN Staff</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/services-researchers-and-librarians">Researchers & Librarians</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/services-general-public">General Public</a>              </li>         
                </ul>     
              </div>  
            </section>
          </div>    
        </div>    
        <div class="row">
          <div class="col-md-4">  
            <section class="region region-footer-1">     
              <div class="block block-menu">       
                <h4 class="font-bold">Research the UN</h4>      
                <ul class="menu nav">              
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/un-resources-documents">UN Resources & Documents</a>              </li>                 
                  <li class="leaf">                <a href="https://digitallibrary.un.org/">UN Digital Library</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/index-proceedings">Index to Proceedings</a>              </li>                 
                  <li class="leaf">                <a href="http://metadata.un.org/">Linked Data Services</a>              </li>                 
                  <li class="leaf">                <a href="http://research.un.org/en">Research Guides</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/speeches-and-meetings">Speeches</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/unms">UN Member States on the Record</a>              </li>         
                </ul>     
              </div>  
            </section>
          </div>
          <div class="col-md-4">  
            <section class="region region-footer-1">     
              <div class="block block-menu">       
                <h4 class="font-bold">Help</h4>      
                <ul class="menu nav">              
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/training-and-events">Training</a>              </li>                 
                  <li class="leaf">                <a href="http://research.un.org/en">Research Guides</a>              </li>                 
                  <li class="leaf">                <a href="http://ask.un.org/">Ask DAG</a>              </li>         
                </ul>     
              </div>  
            </section>
          </div>
          <div class="col-md-4">  
            <section class="region region-footer-1">     
              <div class="block block-menu">       
                <h4 class="font-bold">Using the Library</h4>      
                <ul class="menu nav">              
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/access-electronic-resources">Access Electronic Resources</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/borrow-books-more">Borrow Books & More</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/request-articles-books-documents">Request Articles, Books & Documents</a>              </li>                 
                  <li class="leaf">                <a href="https://www.un.org/en/library/page/visit-library">Visit the Library</a>              </li>         
                </ul>     
              </div>  
            </section>
          </div>    
        </div>    
      </div>    
      <div class="col-md-3" id="footer_banner">
        <div class="view view-footer-banner-by-og view-id-footer_banner_by_og view-display-id-block">
          <div class="view-content">
            <div id="views-bootstrap-grid-4" class="views-bootstrap-grid-plugin-style">
              <div class="row">
                <div class="footer_banner_item col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <p>169,000 pages digitized in 2023</p>
                </div>
                <div class="footer_banner_item col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h4 class="font-bold">OPENING HOURS</h4>
                  <p>Online: Mon-Fri: 9am–5pm ET</p>
                  <p>Reading rooms: Mon-Fri: 10am-4pm ET</p>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>  
    </div>
  </div>
<!-- end og footer -->

<!-- begin un-footer -->
<!-- UN.ORG footer -->
  <div class="section-fluid footer-fluid">
	<footer class="footer container dark">
		<div class="row"><!-- row -->
	    	<div class="col-md-12">
		  		<div class="pull-left flip footer-brand en"><!-- footer brand -->
					<a href="https://www.un.org/en/" title="Home">
					<span class="site-name">United Nations</span></a>
		  		</div><!-- /footer brand -->
				<div class="pull-right flip donate">
				<a href="https://www.un.org/en/about-us/how-to-donate-to-the-un-system" class="btn btn-default btn-reverse dark" role="button" id="donate_button">Donate</a>
				</div>
		  		<div class="pull-right flip social-media" role="navigation"><!-- social media links -->
					<ul class="nav list-inline">
						<li class="list-inline-item twitter"><a href="https://twitter.com/UNLibrary"><span class="icon-text">twitter</span></a></li>					</ul> 
			  	</div><!-- /social media links -->
			</div>
		</div><!-- /row -->
		<div class="row footer-links"><!-- row -->
			<div class="divider"></div><!-- top border -->
			<div class="col-md-12">
			<div class="pull-right flip"> 
			   <div id="block-menu-menu-footer-links" class="block block-menu" role="navigation">
				  <ul class="nav list-inline">
					<li class="list-inline-item "><a href="https://www.un.org/en/site-index">A-Z Site Index</a></li><li class="list-inline-item "><a href="https://www.un.org/en/contact-us-0">Contact</a></li><li class="list-inline-item "><a href="https://www.un.org/en/about-us/copyright">Copyright</a></li><li class="list-inline-item "><a href="https://www.un.org/en/about-us/frequently-asked-questions">FAQ</a></li><li class="list-inline-item "><a href="https://www.un.org/en/about-us/fraud-alert">Fraud Alert</a></li><li class="list-inline-item "><a href="https://www.un.org/en/about-us/privacy-notice">Privacy Notice</a></li><li class="list-inline-item last"><a href="https://www.un.org/en/about-us/terms-of-use">Terms of Use</a></li>
				  </ul> 
				</div> 
			</div>
		</div>
		</div><!-- /row -->
	</footer>
  </div>
<!-- UN.ORG footer end -->

</div>

<!-- end common footer -->
