<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>معلومات عن المكتبة</h5>
            <ul class="">
				<li class="first leaf"><a href="//www.un.org/ar/library/contact-us">اتصل بنا</a></li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/our-activities">أنشطتنا</a></li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/our-mandate-history">مهمتنا وتاريخنا</a></li>
				<li class="last leaf"><a href="//www.un.org/ar/library/page/our-collections">مجموعاتنا</a></li>
								
            </ul>
            <h5>ابحث في الأمم المتحدة</h5>
            <ul class="">
			  <li class="first leaf"><a href="//www.un.org/ar/library/page/un-resources-documents">موارد الأمم المتحدة ووثائقها</a></li>
			  <li class="leaf"><a href="//digitallibrary.un.org/?ln=ar" title="استكشف الوثائق، والتصويت، والخطب، ومطبوعات ذات الملك العام والعديد من المعلومات الأخرى">المكتبة الرقمية للأمم المتحدة</a></li>
			  <li class="leaf"><a href="//www.un.org/ar/library/page/researchguides">أدلة البحث</a></li>
			  <li class="leaf"><a href="//www.un.org/ar/library/page/index-proceedings" title="">فهرس وقائع الجلسات</a></li>
			  <li class="leaf"><a href="//www.un.org/ar/library/page/speeches-and-meetings">الخطب والاجتماعات</a></li>
			  <li class="leaf"><a href="//www.un.org/ar/library/page/voting-information">معلومات عن التصويت</a></li>
			  <li class="last leaf"><a href="//www.un.org/ar/library/unms" title="">الدول الأعضاء في الأمم المتحدة على السجل</a></li>
            </ul>
        </div>
		
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>ابحث عن</h5>
            <ul class="">
				<li class="first leaf"><a href="//www.un.org/ar/library/page/articles-books-more">المقالات والكتب وغيرها</a></li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/databases">قواعد البيانات</a></li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/journals">المجلات</a></li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/un-resources-documents" title="">موارد الأمم المتحدة ووثائقها</a></li>
				<li class="last leaf"><a href="//www.un.org/ar/library/page/un-libraries" title="مكتبات الأمم المتحدة">مكتبات الأمم المتحدة</a></li>

            </ul>
            <h5>طلب المساعدة</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ar/library/page/training-and-events">التدريب</a></li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/researchguides" title="">أدلة البحث</a></li>
				<li class="last leaf"><a href="//ask.un.org/" title="">اِسأل المكتبة</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 col-md-push-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>الخدمات...</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ar/library/page/services-delegates">الوفود</a> </li>
				<li class="leaf"><a href="//www.un.org/ar/library/page/services-un-staff">لموظفي الأمم المتحدة</a></li>
				<li class="leaf"> <a href="//www.un.org/ar/library/page/services-researchers-and-librarians">للباحثين وأمناء المكتبات</a></li>
				<li class="last leaf"><a href="//www.un.org/ar/library/page/services-general-public">لعامة الجمهور</a></li>
            </ul>
            <h5>استخدام المكتبة</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/ar/library/page/access-electronic-resources">الوصول إلى الموارد الإلكترونية</a></li>        
				<li class="leaf"><a href="//www.un.org/ar/library/page/borrow-books-more">استعارة الكتب وغيرها</a></li>        
				<li class="leaf"><a href="//www.un.org/ar/library/page/request-articles-books-documents">طلب المقالات والكتب والوثائق</a></li>        
				<li class="last leaf"><a href="//www.un.org/ar/library/page/visit-library">زيارة المكتبة</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3 col-md-pull-3" id="footer_fun_fact">
            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-29e259195e4565933fa6825e1bf406d6">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="//www.un.org/ar" title="Home">
                    <span class="site-name">الأمم المتحدة</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="//www.un.org/ar/about-us/copyright">حقوق النشر والطبع</a></li>
                            <li class="leaf"><a href="//www.un.org/ar/about-us/fraud-alert">تحذير من عمليات احتيال</a></li>
                            <li class="leaf"><a href="//www.un.org/ar/about-us/privacy-notice">بيان الخصوصيات</a></li>
                            <li class="last leaf"><a href="//www.un.org/ar/about-us/terms-of-use">شروط الاستخدام</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>

</footer>
