<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>О нас</h5>
            <ul class="">
				<li class="first leaf"><a href="//www.un.org/ru/library/contact-us">Обратная связь</a></li>
				<li class="leaf"><a href="//www.un.org/ru/library/page/our-activities">Наша деятельность</a></li>
				<li class="leaf"><a href="//www.un.org/ru/library/page/our-mandate-history">Наш мандат и история</a></li>
				<li class="last leaf"><a href="//www.un.org/ru/library/page/our-collections">Наши фонды</a></li>
            </ul>
            <h5>Поисковые ресурсы ООН</h5>
            <ul class="">
                        <li class="first leaf"><a href="//www.un.org/ru/library/page/un-resources-documents">Ресурсы и документы ООН</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/researchguides">Исследовательские руководства</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/researchguides">Исследовательские руководства</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/index-proceedings">Указатель заседаний</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/speeches-and-meetings">Выступления</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/voting-information">Информация о голосовании</a></li>
                        <li class="leaf"><a href="https://digitallibrary.un.org/?ln=ru">Цифровая библиотека ООН</a></li>
                        <li class="last leaf"><a href="//www.un.org/ru/library/unms">Государства-члены ООН: Официально</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>Поиск</h5>
            <ul class="">
                        <li class="first leaf"><a href="//www.un.org/ru/library/page/articles-books-more">Статьи, книги и другие материалы</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/databases">Базы данных</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/74768/page/77676">Журналы</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/un-resources-documents">Ресурсы и документы ООН</a></li>
                        <li class="last leaf"><a href="//www.un.org/ru/library/page/un-libraries">Библиотеки ООН</a></li>
            </ul>
            <h5>Помощь</h5>
            <ul class="">
                        <li class="first leaf"><a href="//www.un.org/ru/library/page/training-and-events">Учебные программы</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/researchguides%20">Исследовательские руководства</a></li>
                        <li class="last leaf"><a href="http://ask.un.org/">Спросите DAG</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>Услуги для...</h5>
            <ul class="">
                        <li class="first leaf"><a href="//www.un.org/ru/library/page/services-delegates">Делегатов</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/services-un-staff">Персонала ООН</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/services-researchers-and-librarians">Исследователей и библиотекарей</a></li>
                        <li class="last leaf"><a href="//www.un.org/ru/library/page/services-general-public">Широкой публики</a></li>
            </ul>
            <h5>Пользование библиотекой</h5>
            <ul class="">
                        <li class="first leaf"><a href="//www.un.org/ru/library/page/access-electronic-resources">Доступ к электронным ресурсам</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/borrow-books-more">Получение книг и других материалов</a></li>
                        <li class="leaf"><a href="//www.un.org/ru/library/page/request-articles-books-documents">Запрос статей, книг и других материалов</a></li>
                        <li class="last leaf"><a href="//www.un.org/ru/library/page/visit-library">Посещение Библиотеки</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-75a81d6775c0527fa527786c52ddba29">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>






            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/ru" title="Home">
                    <span class="site-name">Организация Объединенных Наций</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="https://www.un.org/ru/about-us/copyright">© ООН</a></li>
                            <li class="leaf"><a href="https://www.un.org/ru/about-us/fraud-alert">Остерегайтесь мошенничества</a></li>
                            <li class="leaf"><a href="https://www.un.org/ru/about-us/privacy-notice">Конфиденциальность</a></li>
                            <li class="last leaf"><a href="https://www.un.org/ru/about-us/terms-of-use">Условия пользования</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</footer>
