   <!-- begin common footer -->
   <footer class="footer container">

        <div class="row" id="footer">
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
                <!-- Left footer column -->
                <h5>About</h5>
                <ul class="">
                    <li class="first leaf"><a href="/content/our-activities" title="">Our Activities</a></li>
                    <li class="leaf"><a href="/content/our-mandate-history" title="">Our Mandate and History</a></li>
                    <li class="leaf"><a href="/content/our-collections" title="">Our Collections</a></li>
                    <li class="leaf"><a href="/content/united-nations-depository-library-programme" title="">UN Depository Libraries</a></li>
                    <li class="last leaf"><a href="/content/library-news" title="">Library News</a></li>
                </ul>
                <h5>Research the UN</h5>
                <ul class="">
                    <li class="first leaf"><a href="/content/un-resources-documents" title="">UN Resources and Documents</a></li>
                    <li class="leaf"><a href="https://digitallibrary.un.org/?ln=en" title="Explore documents, votes, speeches, public domain publications and more!">UN Digital Library</a></li>
                    <li class="leaf"><a href="http://research.un.org/en" title="">Research Guides</a></li>
                    <li class="leaf"><a href="/content/index-proceedings-0" title="">Index to Proceedings</a></li>
                    <li class="leaf"><a href="/content/speeches-and-meetings" title="">Speeches</a></li>
                    <li class="leaf"><a href="/content/voting-information" title="">Voting Information</a></li>
                    <li class="last leaf"><a href="https://library.un.org/unms" title="">UN Member States on the Record</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
                <!-- Middle footer column -->
                <h5>Find</h5>
                <ul class="">
                    <li class="first leaf"><a href="/content/articles-books-more" title="">Articles, Books and More</a></li>
                    <li class="leaf"><a href="/content/databases-0" title="">Databases</a></li>
                    <li class="leaf"><a href="/content/journals" title="">Journals</a></li>
                    <li class="leaf"><a href="/content/un-resources-documents" title="">UN Resources and Documents</a></li>
                    <li class="last leaf"><a href="/content/un-libraries" title="">UN Libraries</a></li>
                </ul>
                <h5>Help</h5>
                <ul class="">
                    <li class="first leaf"><a href="/content/training" title="">Training</a></li>
                    <li class="leaf"><a href="http://research.un.org/en" title="">Research Guides</a></li>
                    <li class="last leaf"><a href="http://ask.un.org/">Ask DAG</a></li>
                </ul>
            </div>
            <div class="col-xs-12 {% if direction=='rtl' %}col-md-push-3 {% endif %}col-md-3 footer_menu" id="footer_menu_3">
                <!-- Right footer column -->
                <h5>Services for...</h5>
                <ul class="">
                    <li class="first leaf"><a href="/content/services-delegates" title="">Delegates</a></li>
                    <li class="leaf"><a href="/content/services-un-staff" title="">UN Staff</a></li>
                    <li class="leaf"><a href="/content/services-researchers-and-librarians" title="">Researchers and Librarians</a></li>
                    <li class="last leaf"><a href="/content/services-general-public" title="">General Public</a></li>
                </ul>
                <h5>Using the Library</h5>
                <ul class="">
                    <li class="first leaf"><a href="/content/access-electronic-resources" title="">Access Electronic Resources</a></li>
                    <li class="leaf"><a href="/content/borrow-books-more" title="">Borrow Books and More</a></li>
                    <li class="leaf"><a href="/content/print-scan-copy" title="">Print, Scan and Copy</a></li>
                    <li class="leaf"><a href="/content/request-articles-books-documents" title="">Request Articles, Books and Documents</a></li>
                    <li class="last leaf"><a href="/content/visit-library" title="">Visit the Library</a></li>
                </ul>
            </div>
            <!-- fun facts block -->
            <div class="col-xs-12 {% if direction=='rtl' %}col-md-pull-3 {% endif %}col-md-3" id="footer_fun_fact">
                <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-432e0e3061ace2f86bf9f101e5ace715">



                    <div class="view-content">
                        <div>{{_('Welcome to the United Nations Library')}}</div>
                    </div>






                </div>
            </div>
        </div>

        <!-- UN footer -->

        <div class="row list-inline">
            <div class="col-md-12">
                <div class="pull-left flip footer-brand">
                    <a href="http://www.un.org/en/index.html" title="Home">
                        <span class="site-name">United Nations</span></a>
                </div>
                <div class="pull-right flip">
                    <section class="region region-footer-5">
                        <div id="block-menu-menu-footer-links" class="block block-menu">
                            <ul class="menu nav">
                                <li class="first leaf"><a href="http://www.un.org/en/aboutun/copyright/index.html">Copyright</a></li>
                                <li class="leaf"><a href="http://www.un.org/en/sections/aboutun/fraud-alert/index.html">Fraud Alert</a></li>
                                <li class="leaf"><a href="http://www.un.org/en/sections/about-website/privacy-notice/index.html">Privacy Notice</a></li>
                                <li class="last leaf"><a href="http://www.un.org/en/sections/about-website/terms-use/index.html">Terms of Use</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </footer>

    <!-- end common footer -->