<footer class="footer container">

        <div class="row" id="footer">
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
                <!-- Left footer column -->
                <h5>关于联合国图书馆</h5>
                <ul class=""><li class="first leaf"><a href="/zh/content/651" title="">我们的活动</a></li>
    <li class="leaf"><a href="/zh/content/654" title="">我们的任务和历史</a></li>
    <li class="leaf"><a href="/zh/content/657" title="">我们的馆藏</a></li>
    <li class="last leaf"><a href="https://library.un.org/node/121" title="">联合国托存图书馆</a></li>
    </ul>			<h5>研究联合国</h5>
                <ul class=""><li class="first leaf"><a href="/zh/content/660" title="">联合国资源和文件</a></li>
    <li class="leaf"><a href="https://digitallibrary.un.org/?ln=zh_CN" title="发现联合国文件、 表决信息、 会议发言、 公共领域联合国出版物以及更多">联合国数字图书馆</a></li>
    <li class="leaf"><a href="/zh/content/1914" title="">研究指南</a></li>
    <li class="leaf"><a href="/zh/content/9930" title="">议事录索引</a></li>
    <li class="leaf"><a href="/zh/content/1917" title="">发言</a></li>
    <li class="leaf"><a href="/zh/content/1920" title="">表决信息</a></li>
    <li class="last leaf"><a href="https://library.un.org/unms" title="">联合国会员国公开报道</a></li>
    </ul>		</div>
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
                <!-- Middle footer column -->
                <h5>查找</h5>
                <ul class=""><li class="first leaf"><a href="/zh/content/1923" title="">文章、书籍和更多</a></li>
    <li class="leaf"><a href="/zh/content/1926" title="">数据库</a></li>
    <li class="leaf"><a href="/zh/content/6912" title="">期刊</a></li>
    <li class="leaf"><a href="/zh/content/660" title="">联合国资源和文件</a></li>
    <li class="last leaf"><a href="https://library.un.org/node/48" title="">联合国图书馆</a></li>
    </ul>			<h5>帮助</h5>
                <ul class=""><li class="first leaf"><a href="/zh/content/6915" title="">培训</a></li>
    <li class="leaf"><a href="/zh/content/1914" title="">研究指南</a></li>
    <li class="last leaf"><a href="http://ask.un.org/" title="">问达格</a></li>
    </ul>		</div>			
                        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
                            <!-- Right footer column -->
                <h5>服务对象</h5>
                <ul class=""><li class="first leaf"><a href="/zh/content/6918" title="">代表</a></li>
    <li class="leaf"><a href="/zh/content/6921" title="">联合国工作人员</a></li>
    <li class="leaf"><a href="/zh/content/9639" title="">研究人员和图书管理员</a></li>
    <li class="last leaf"><a href="/zh/content/9645" title="">公众</a></li>
    </ul>			<h5>使用图书馆</h5>
                <ul class=""><li class="first leaf"><a href="/zh/content/9651" title="">访问电子资源</a></li>
    <li class="leaf"><a href="/zh/content/9654" title="">借书和更多</a></li>
    <li class="leaf"><a href="/zh/content/9687" title="">打印、扫描和复印</a></li>
    <li class="leaf"><a href="/zh/content/9690" title="">申请文章、书籍和文件</a></li>
    <li class="last leaf"><a href="/zh/content/9696" title="">访问图书馆</a></li>
    </ul>		</div>
            <!-- fun facts block -->
                        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
                            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-8a7f33f0e43e3f6e69d1e0c7cb06a351">
            
      
      
          <div class="view-content">
            <div>{{_('Welcome to the United Nations Library')}}</div>
        </div>
      
      
      
      
      
      
    </div>		</div>
        </div>
    
        <!-- UN footer -->
        <div class="row list-inline">
            <div class="col-md-12">
              <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/zh/index.html" title="Home">
                    <span class="site-name">联合国</span></a>
              </div>
                <div class="pull-right flip"> 
                  <section class="region region-footer-5">
                   <div id="block-menu-menu-footer-links" class="block block-menu">
                      <ul class="menu nav">
                        <li class="first leaf"><a href="http://www.un.org/zh/aboutun/copyright/index.html">版权</a></li>
                        <li class="leaf"><a href="http://www.un.org/zh/sections/aboutun/fraud-alert/index.html">欺诈警报</a></li>
                        <li class="leaf"><a href="http://www.un.org/zh/sections/about-website/privacy-notice/index.html">隐私声明</a></li>
                        <li class="last leaf"><a href="http://www.un.org/zh/sections/about-website/terms-use/index.html">使用条款</a></li>
                      </ul> 
                    </div> 
                  </section>
              </div>
            </div>
        </div>
    
    </footer>