<footer class="footer container">

        <div class="row" id="footer">
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
                <!-- Left footer column -->
                <h5>À propos</h5>
                <ul class=""><li class="first leaf"><a href="/fr/content/nos-activit%C3%A9s" title="">Nos activités</a></li>
    <li class="leaf"><a href="/fr/content/mission-et-historique" title="">Mission et historique</a></li>
    <li class="leaf"><a href="/fr/content/nos-collections" title="">Nos collections</a></li>
    <li class="last leaf"><a href="https://library.un.org/node/121" title="">Bibliothèques dépositaires</a></li>
    </ul>			<h5>Étudier les Nations Unies</h5>
                <ul class=""><li class="first leaf"><a href="/fr/content/ressources-et-documents-de-l%E2%80%99onu" title="">Ressources et documents de l’ONU</a></li>
    <li class="leaf"><a href="https://digitallibrary.un.org/?ln=fr" title="Explorez des documents, votes, discours, publications du domaine public et plus!">Bibliothèque numérique de l'ONU</a></li>
    <li class="leaf"><a href="http://research.un.org/fr" title="">Guides de recherche</a></li>
    <li class="leaf"><a href="/fr/content/index-des-actes-0" title="">Index des actes</a></li>
    <li class="leaf"><a href="/fr/content/discours-et-r%C3%A9unions" title="">Discours</a></li>
    <li class="leaf"><a href="/fr/content/informations-de-vote" title="">Informations de vote</a></li>
    <li class="last leaf"><a href="https://library.un.org/unms" title="">Les États Membres au fil des sessions</a></li>
    </ul>		</div>
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
                <!-- Middle footer column -->
                <h5>Trouver</h5>
                <ul class=""><li class="first leaf"><a href="/fr/content/articles-livres-et-plus" title="">Articles, livres et plus</a></li>
    <li class="leaf"><a href="/fr/content/bases-de-donn%C3%A9es" title="">Bases de données</a></li>
    <li class="leaf"><a href="/fr/content/revues" title="">Revues</a></li>
    <li class="leaf"><a href="/fr/content/ressources-et-documents-de-l%E2%80%99onu" title="">Ressources et documents de l’ONU</a></li>
    <li class="last leaf"><a href="/fr/content/biblioth%C3%A8ques-de-lonu" title="">Bibliothèques de l’ONU</a></li>
    </ul>			<h5>Apprendre</h5>
                <ul class=""><li class="first leaf"><a href="/fr/content/formations" title="">Formation</a></li>
    <li class="leaf"><a href="http://research.un.org/fr" title="">Guides de recherche</a></li>
    <li class="last leaf"><a href="http://ask.un.org/fr" title="">Demandez à DAG</a></li>
    </ul>		</div>			
                        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
                            <!-- Right footer column -->
                <h5>Services à l’intention…</h5>
                <ul class=""><li class="first leaf"><a href="/fr/content/services-%C3%A0-l%E2%80%99intention-des-d%C3%A9l%C3%A9gu%C3%A9s" title="">des délégués</a></li>
    <li class="leaf"><a href="/fr/content/services-%C3%A0-l%E2%80%99intention-du-personnel-de-l%E2%80%99onu" title="">du personnel de l’ONU</a></li>
    <li class="leaf"><a href="/fr/content/services-%C3%A0-l%E2%80%99intention-des-chercheurs-et-des-biblioth%C3%A9caires" title="">des chercheurs et des bibliothécaires</a></li>
    <li class="last leaf"><a href="/fr/content/services-%C3%A0-l%E2%80%99intention-du-grand-public" title="">du grand public</a></li>
    </ul>			<h5>Utiliser la bibliothèque</h5>
                <ul class=""><li class="first leaf"><a href="/fr/content/acc%C3%A9der-aux-ressources-%C3%A9lectroniques" title="">Accéder aux ressources électroniques</a></li>
    <li class="leaf"><a href="/fr/content/emprunter-des-livres-et-plus" title="">Emprunter des livres et plus</a></li>
    <li class="leaf"><a href="/fr/content/imprimer-scanner-et-copier" title="">Imprimer, scanner et copier</a></li>
    <li class="leaf"><a href="/fr/content/demander-des-articles-livres-et-documents" title="">Demander des articles, livres et documents</a></li>
    <li class="last leaf"><a href="/fr/content/visiter-la-biblioth%C3%A8que" title="">Visiter la bibliothèque</a></li>
    </ul>		</div>
            <!-- fun facts block -->
                        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
                            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-0571a925383a678ad2d8af9db6804d50">
            
      
      
          <div class="view-content">
            <div>
          
              Plus de 21 150 articles téléchargés en 2018    </div>
        </div>
      
      
      
      
      
      
    </div>		</div>
        </div>
    
        <!-- UN footer -->
        <div class="row list-inline">
            <div class="col-md-12">
              <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/fr/index.html" title="Home">
                    <span class="site-name">Nations Unies</span></a>
              </div>
                <div class="pull-right flip"> 
                  <section class="region region-footer-5">
                   <div id="block-menu-menu-footer-links" class="block block-menu">
                      <ul class="menu nav">
                        <li class="first leaf"><a href="http://www.un.org/fr/aboutun/copyright/index.html">Droit d’auteur</a></li>
                        <li class="leaf"><a href="http://www.un.org/fr/sections/aboutun/fraud-alert/index.html">Fraudes</a></li>
                        <li class="leaf"><a href="http://www.un.org/fr/sections/about-website/privacy-notice/index.html">Confidentialité</a></li>
                        <li class="last leaf"><a href="http://www.un.org/fr/sections/about-website/terms-use/index.html">Conditions d’utilisation</a></li>
                      </ul> 
                    </div> 
                  </section>
              </div>
            </div>
        </div>
    
    </footer>