<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>معلومات عن المكتبة</h5>
            <ul class="">
                <li class="first leaf"><a href="/ar/content/1935" title="">أنشطتنا</a></li>
                <li class="leaf"><a href="/ar/content/1938" title="">مهمتنا وتاريخنا</a></li>
                <li class="leaf"><a href="/ar/content/1947" title="">مجموعاتنا</a></li>
                <li class="last leaf"><a href="https://library.un.org/node/121" title="">مكتبات الايداع للأمم المتحدة</a></li>
            </ul>
            <h5>ابحث في الأمم المتحدة</h5>
            <ul class="">
                <li class="first leaf"><a href="/ar/content/1956" title="">موارد الأمم المتحدة ووثائقها</a></li>
                <li class="leaf"><a href="https://digitallibrary.un.org/?ln=ar" title="استكشف الوثائق، والتصويت، والخطب، ومطبوعات ذات الملك العام والعديد من المعلومات الأخرى">المكتبة الرقمية للأمم المتحدة</a></li>
                <li class="leaf"><a href="/ar/content/8076" title="">أدلة البحث</a></li>
                <li class="leaf"><a href="/ar/content/9798" title="">فهرس الوقائع</a></li>
                <li class="leaf"><a href="/ar/content/8079" title="">الخطب</a></li>
                <li class="leaf"><a href="/ar/content/8082" title="">معلومات عن التصويت</a></li>
                <li class="last leaf"><a href="https://library.un.org/unms" title="">الدول الأعضاء في الأمم المتحدة على السجل</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>ابحث عن</h5>
            <ul class="">
                <li class="first leaf"><a href="/ar/content/8085" title="">مقالات وكتب وغيرها</a></li>
                <li class="leaf"><a href="/ar/content/8088" title="">قواعد بيانات</a></li>
                <li class="leaf"><a href="/ar/content/8091" title="">المجلات</a></li>
                <li class="leaf"><a href="/ar/content/1956" title="">موارد الأمم المتحدة ووثائقها</a></li>
                <li class="last leaf"><a href="https://library.un.org/node/48" title="">مكتبات الأمم المتحدة</a></li>
            </ul>
            <h5>طلب المساعدة</h5>
            <ul class="">
                <li class="first leaf"><a href="/ar/content/8094" title="">التدريب</a></li>
                <li class="leaf"><a href="/ar/content/8076" title="">أدلة البحث</a></li>
                <li class="last leaf"><a href="http://ask.un.org/" title="">اِسأل المكتبة</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 col-md-push-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>الخدمات...</h5>
            <ul class="">
                <li class="first leaf"><a href="/ar/content/8097" title="">أعضاء الوفود</a></li>
                <li class="leaf"><a href="/ar/content/8100" title="">موظفو الأمم المتحدة</a></li>
                <li class="leaf"><a href="/ar/content/8103" title="">الباحثون وأمناء المكتبات</a></li>
                <li class="last leaf"><a href="/ar/content/8106" title="">عامة الجمهور</a></li>
            </ul>
            <h5>استخدام المكتبة</h5>
            <ul class="">
                <li class="first leaf"><a href="/ar/content/8121" title="">الوصول إلى الموارد الإلكترونية</a></li>
                <li class="leaf"><a href="/ar/content/8118" title="">استعارة الكتب وغيرها</a></li>
                <li class="leaf"><a href="/ar/content/8115" title="">الطباعة والمسح والنسخ</a></li>
                <li class="leaf"><a href="/ar/content/8112" title="">طلب المقالات والكتب والوثائق</a></li>
                <li class="last leaf"><a href="/ar/content/8109" title="">زيارة المكتبة</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3 col-md-pull-3" id="footer_fun_fact">
            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-29e259195e4565933fa6825e1bf406d6">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>






            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/ar/index.html" title="Home">
                    <span class="site-name">الأمم المتحدة</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="https://www.un.org/ar/sections/about-website/copyright/index.html">حقوق النشر والطبع</a></li>
                            <li class="leaf"><a href="http://www.un.org/ar/sections/about-website/fraud-alert/index.html">تحذير من عمليات احتيال</a></li>
                            <li class="leaf"><a href="http://www.un.org/ar/sections/about-website/privacy-notice/index.html">بيان الخصوصيات</a></li>
                            <li class="last leaf"><a href="http://www.un.org/ar/sections/about-website/terms-use/index.html">شروط الاستخدام</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</footer>