<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>La Biblioteca</h5>
            <ul class="">
                <li class="first leaf"><a href="/es/content/actividades" title="">Actividades</a></li>
                <li class="leaf"><a href="/es/content/mandato-e-historia" title="">Mandato e historia</a></li>
                <li class="leaf"><a href="/es/content/colecciones" title="">Colecciones</a></li>
                <li class="last leaf"><a href="https://library.un.org/node/121" title="">Bibliotecas depositarias</a></li>
            </ul>
            <h5>Investigación sobre las Naciones Unidas</h5>
            <ul class="">
                <li class="first leaf"><a href="/es/content/recursos-y-documentos-de-la-onu" title="">Recursos y documentos de la ONU</a></li>
                <li class="leaf"><a href="https://digitallibrary.un.org/?ln=es" title="Explore documentos, votos, discursos, publicaciones de domino público y más!">Biblioteca digital de la ONU</a></li>
                <li class="leaf"><a href="http://research.un.org/es" title="">Guías de investigación</a></li>
                <li class="leaf"><a href="/es/content/indice-de-las-actas-0" title="">Indice de las Actas</a></li>
                <li class="leaf"><a href="/es/content/discursos-y-reuniones" title="">Discursos</a></li>
                <li class="leaf"><a href="/es/content/informaci%C3%B3n-sobre-votaciones" title="">Información sobre votaciones</a></li>
                <li class="last leaf"><a href="https://library.un.org/unms" title="">Estados Miembros de la ONU a lo largo de las sesiones</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>Buscar</h5>
            <ul class="">
                <li class="first leaf"><a href="/es/content/art%C3%ADculos-libros-y-otros-documentos" title="">Artículos, libros y otros documentos</a></li>
                <li class="leaf"><a href="/es/content/bases-de-datos" title="">Bases de datos</a></li>
                <li class="leaf"><a href="/es/content/publicaciones-peri%C3%B3dicas" title="">Publicaciones periódicas</a></li>
                <li class="leaf"><a href="/es/content/recursos-y-documentos-de-la-onu" title="">Recursos y documentos de las Naciones Unidas</a></li>
                <li class="last leaf"><a href="/es/content/bibliotecas-de-la-onu" title="">Bibliotecas de las Naciones Unidas</a></li>
            </ul>
            <h5>Ayuda</h5>
            <ul class="">
                <li class="first leaf"><a href="/es/content/formacion" title="">Formación</a></li>
                <li class="leaf"><a href="http://research.un.org/es" title="">Guías de investigación</a></li>
                <li class="last leaf"><a href="http://ask.un.org/es" title="">Pregunta a DAG</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>Servicios destinados a…</h5>
            <ul class="">
                <li class="first leaf"><a href="/es/content/servicios-destinados-delegados" title="">Delegados</a></li>
                <li class="leaf"><a href="/es/content/servicios-destinados-al-personal-de-las-naciones-unidas" title="">Personal de las Naciones Unidas</a></li>
                <li class="leaf"><a href="/es/content/servicios-destinados-investigadores-y-bibliotecarios" title="">Investigadores y bibliotecarios</a></li>
                <li class="last leaf"><a href="/es/content/servicios-destinados-al-p%C3%BAblico-en-general" title="">Público en general</a></li>
            </ul>
            <h5>Utilización de la Biblioteca</h5>
            <ul class="">
                <li class="first leaf"><a href="/es/content/acceso-recursos-electr%C3%B3nicos" title="">Acceso a recursos electrónicos</a></li>
                <li class="leaf"><a href="/es/content/pr%C3%A9stamo-de-libros-y-otros-materiales" title="">Préstamo de libros y otros materiales</a></li>
                <li class="leaf"><a href="/es/content/imprimir-escanear-y-fotocopiar" title="">Imprimir, escanear y fotocopiar</a></li>
                <li class="leaf"><a href="/es/content/solicitud-de-art%C3%ADculos-libros-y-documentos" title="">Solicitud de artículos, libros y documentos</a></li>
                <li class="last leaf"><a href="/es/content/visita-de-la-biblioteca" title="">Visita de la Biblioteca</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-0172e997f75348dcf6c050092c9307ed">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>






            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/es/index.html" title="Home">
                    <span class="site-name">Naciones Unidas</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="http://www.un.org/es/sections/about-website/copyright/index.html">Propiedad intelectual</a></li>
                            <li class="leaf"><a href="http://www.un.org/es/sections/about-website/fraud-alert/index.html">Alerta de fraude</a></li>
                            <li class="leaf"><a href="http://www.un.org/es/sections/about-website/privacy-notice/index.html">Aviso de privacidad</a></li>
                            <li class="last leaf"><a href="http://www.un.org/es/sections/about-website/terms-use/index.html">Condiciones de utilización</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</footer>