<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>关于联合国图书馆</h5>
            <ul class="">
                        <li class="leaf"><a href="//www.un.org/zh/library/contact-us">联系我们</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/our-activities">我们的活动</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/our-mandate-history">我们的任务和历史</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/our-collections">我们的馆藏</a></li>
            </ul>
            <h5>研究联合国</h5>
            <ul class="">
                        <li class="leaf"><a href="//www.un.org/zh/74774/page/78076">研究指南</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/un-resources-documents">联合国资源和文件</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/index-proceedings">议事录索引 (ITP)</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/speeches-and-meetings">发言</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/voting-information">表决信息</a></li>
                        <li class="leaf"><a href="https://digitallibrary.un.org/?ln=zh_CN">联合国数字图书馆</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/unms">联合国会员国公开报道</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>查找</h5>
            <ul class="">
                        <li class="leaf"><a href="//www.un.org/zh/library/page/articles-books-more">文章、书籍和更多</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/databases">数据库</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/journals">期刊</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/un-resources-documents">联合国资源和文件</a></li>
            </ul>
            <h5>帮助</h5>
            <ul class="">
			            <li class="leaf"><a href="//www.un.org/zh/74774/page/78076">研究指南</a></li>
                        <li class="leaf"><a href="http://ask.un.org/">问达格</a></li>

            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>服务对象</h5>
            <ul class="">
                        <li class="leaf"><a href="//www.un.org/zh/library/page/services-delegates">代表</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/services-un-staff">联合国工作人员</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/services-researchers-and-librarians">研究人员和图书管理员</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/services-general-public">公众</a></li>
            </ul>
            <h5>使用图书馆</h5>
            <ul class="">
                        <li class="leaf"><a href="//www.un.org/zh/library/page/access-electronic-resources">访问电子资源</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/borrow-books-more">借书和更多</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/request-articles-books-documents">申请文章、书籍和文件</a></li>
                        <li class="leaf"><a href="//www.un.org/zh/library/page/visit-library">访问图书馆</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-8a7f33f0e43e3f6e69d1e0c7cb06a351">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>






            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="http://www.un.org/zh" title="Home">
                    <span class="site-name">联合国</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="https://www.un.org/zh/about-us/copyright">版权</a></li>
                            <li class="leaf"><a href="http:https://www.un.org/zh/about-us/fraud-alert">欺诈警报</a></li>
                            <li class="leaf"><a href="https://www.un.org/zh/about-us/privacy-notice">隐私声明</a></li>
                            <li class="last leaf"><a href="https://www.un.org/zh/about-us/terms-of-use">使用条款</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</footer>
