<footer class="footer container">

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
            <!-- Left footer column -->
            <h5>La Biblioteca</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/es/library/contact-us">Contacto</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/our-activities">Actividades</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/our-mandate-history">Mandato e historia</a></li>
				<li class="last leaf"><a href="//www.un.org/es/library/page/our-collections">Colecciones</a></li>
            </ul>
            <h5>Investigación sobre las Naciones Unidas</h5>
            <ul class="">
				<li class="first leaf"><a href="//www.un.org/es/library/page/un-resources-documents">Recursos y documentos de la ONU</a></li>
				<li class="leaf"><a href="//digitallibrary.un.org/?ln=es">Biblioteca digital de la ONU</a></li>
				<li class="leaf"><a href="//research.un.org/es">Guías de investigación</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/index-proceedings">Indice de las Actas</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/speeches-and-meetings">Discursos</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/voting-information">Información sobre votaciones</a></li>
				<li class="last leaf"><a href="//www.un.org/es/library/unms">Estados Miembros de la ONU a lo largo de las sesiones</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
            <!-- Middle footer column -->
            <h5>Buscar</h5>
            <ul class="">
				<li class="first leaf"><a href="//www.un.org/es/library/page/articles-books-more">Artículos, libros y otros documentos</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/databases">Bases de datos</a></li>
				<li class="leaf"><a href="//www.un.org/es/library/page/journals">Publicaciones periódicas</a></li>
				<li class="last leaf"><a href="//www.un.org/es/library/page/un-resources-documents">Recursos y documentos de la ONU</a></li>
            </ul>
            <h5>Ayuda</h5>
            <ul class="">
                <li class="first leaf"><a href="//www.un.org/es/library/page/training-and-events">Formación</a></li>
                <li class="leaf"><a href="//research.un.org/es">Guías de investigación</a></li>
                <li class="last leaf"><a href="//ask.un.org/es">Pregunta a DAG</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
            <!-- Right footer column -->
            <h5>Servicios destinados a…</h5>
            <ul class="">
<li class="first leaf"><a href="//www.un.org/es/library/page/services-delegates">Delegados</a></li>
								<li class="leaf"><a href="//www.un.org/es/library/page/services-un-staff">Personal de las Naciones Unidas</a></li>
								<li class="leaf"><a href="//www.un.org/es/library/page/services-researchers-and-librarians">Investigadores y bibliotecarios</a></li>
								<li class="last leaf"><a href="//www.un.org/es/library/page/services-general-public">Público en general</a></li>
            </ul>
            <h5>Utilización de la Biblioteca</h5>
            <ul class="">
							<ul class="dropdown-menu" role="menu">
								<li class="first leaf"><a href="//www.un.org/es/library/page/access-electronic-resources">Acceso a recursos electrónicos</a></li>
								<li class="leaf"><a href="//www.un.org/es/library/page/borrow-books-more">Préstamo de libros y otros materiales</a></li>
								<li class="leaf"><a href="//www.un.org/es/library/page/request-articles-books-documents">Solicitud de artículos, libros y documentos</a></li>
								<li class="last leaf"><a href="//www.un.org/es/library/page/visit-library">Visita de la Biblioteca</a></li>
            </ul>
        </div>
        <!-- fun facts block -->
        <div class="col-xs-12 col-md-3" id="footer_fun_fact">
            <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-0172e997f75348dcf6c050092c9307ed">



                <div class="view-content">
                    <div>{{_('Welcome to the United Nations Library')}}</div>
                </div>



            </div>
        </div>
    </div>

    <!-- UN footer -->
    <div class="row list-inline">
        <div class="col-md-12">
            <div class="pull-left flip footer-brand">
                <a href="//www.un.org/es" title="Home">
                    <span class="site-name">Naciones Unidas</span></a>
            </div>
            <div class="pull-right flip">
                <section class="region region-footer-5">
                    <div id="block-menu-menu-footer-links" class="block block-menu">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="//www.un.org/es/about-us/copyright">Propiedad intelectual</a></li>
                            <li class="leaf"><a href="//www.un.org/es/about-us/fraud-alert">Alerta de fraude</a></li>
                            <li class="leaf"><a href="//www.un.org/es/about-us/privacy-notice">Aviso de privacidad</a></li>
                            <li class="last leaf"><a href="//www.un.org/es/about-us/terms-of-use">Condiciones de utilización</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</footer>
