<div class="container" id="menu_container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
          
              <div class="navbar-header">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
      
                        <div class="navbar-collapse collapse" id="menu-navbar-collapse">
                  <nav role="navigation">
                    <ul class="nav navbar-nav navbar-right"><li class="first expanded active dropdown"><a href="/zh" title="" class="dropdown-toggle active" data-toggle="dropdown">关于联合国图书馆 <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li class="first leaf"><a href="//library.un.org/zh/content/648">联系我们</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/651">我们的活动</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/654">我们的任务和历史</a></li>
      <li class="last leaf"><a href="//library.un.org/zh/content/657">我们的馆藏</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/zh" title="" class="dropdown-toggle active" data-toggle="dropdown">研究联合国 <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li class="first leaf"><a href="//library.un.org/zh/content/660">联合国资源和文件</a></li>
      <li class="leaf"><a href="https://digitallibrary.un.org/?ln=zh_CN" title="发现联合国文件、 表决信息、 会议发言、 公共领域联合国出版物以及更多">联合国数字图书馆</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/1914">研究指南</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/9930">议事录索引 (ITP)</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/1917">发言</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/1920">表决信息</a></li>
      <li class="last leaf"><a href="https://library.un.org/unms" title="">联合国会员国公开报道</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/zh" title="" class="dropdown-toggle active" data-toggle="dropdown">查找 <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li class="first leaf"><a href="//library.un.org/zh/content/1923">文章、书籍和更多</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/1926">数据库</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/6912">期刊</a></li>
      <li class="last leaf"><a href="//library.un.org/zh/content/660" title="">联合国资源和文件</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/zh" title="" class="dropdown-toggle active" data-toggle="dropdown">帮助 <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li class="first leaf"><a href="//library.un.org/zh/content/1914" title="">研究指南</a></li>
      <li class="last leaf"><a href="http://ask.un.org/" title="">问达格</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/zh" title="" class="dropdown-toggle active" data-toggle="dropdown">服务对象 <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li class="first leaf"><a href="//library.un.org/zh/content/6918">代表</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/6921">联合国工作人员</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/9639">研究人员和图书管理员</a></li>
      <li class="last leaf"><a href="//library.un.org/zh/content/9645">公众</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/zh" title="" class="dropdown-toggle active" data-toggle="dropdown">使用图书馆 <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li class="first leaf"><a href="//library.un.org/zh/content/9651">访问电子资源</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/9654">借书和更多</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/9687">打印、扫描和复印</a></li>
      <li class="leaf"><a href="//library.un.org/zh/content/9690">申请文章、书籍和文件</a></li>
      <li class="last leaf"><a href="//library.un.org/zh/content/9696">访问图书馆</a></li>
      </ul></li>
      <li class="last leaf"><a href="//library.un.org/zh/content/648" title="">联系我们</a></li>
      </ul>  <div class="region region-navigation">
          <section id="block-block-5" class="block block-block clearfix">
      
            
        <style type="text/css">.main_page_content > .col-md-12 {
          padding-right: 0px;
      }
      
      .main_row_1_caption {
          padding: 5px;
          white-space: normal;
          height: 50px;
          display: table;
          width: 100%;
      }
      
      .main_row_1_caption > a {
          display: table-cell;
          vertical-align: middle;
      }
      
      .front_caption > div {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          /* width: 80%; */
          height: 30%;
          margin: auto;
          padding: 0px 5px;
      }
      
      a[hreflang]:after { 
          content: " [" attr(hreflang) "]"; 
          color: #999;
          vertical-align: super;
          font-size: 70%;
      }
      
      .view-library-news #blog_page p {
          padding-right: 15px;
      }
      </style>
      
      </section>
        </div>
                  </nav>
                </div>
              
          </div>	
        </div>
      </div>