<div class="container" id="menu_container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <div class="navbar-header">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse" id="menu-navbar-collapse">
        <nav role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="first expanded active dropdown"><a href="/ru" title="" class="dropdown-toggle active"
                data-toggle="dropdown">О нас <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9681">Обратная связь</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/8067">Наша деятельность</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/8070">Наш мандат и история</a></li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/8073">Наши фонды</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/ru" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Исследуем ООН <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9879">Ресурсы и документы ООН</a></li>
                <li class="leaf"><a href="https://digitallibrary.un.org/?ln=ru"
                    title="Для вас: документы, итоги голосований, тексты выступлений, и многое другое!">Цифровая
                    библиотека ООН</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9921">Исследовательские руководства</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9927">Указатель заседаний</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9936">Выступления</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9984">Информация о голосовании</a></li>
                <li class="last leaf"><a href="https://library.un.org/unms" title="">Государства-члены ООН:
                    Официально</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/ru" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Поиск <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9987">Статьи, книги и другие материалы</a>
                </li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10014">Базы данных</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10017">Журналы</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9879" title="">Ресурсы и документы ООН</a></li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/10428">Библиотеки ООН</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/ru" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Помощь <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/10020">Учебные программы</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9921" title="">Исследовательские руководства</a>
                </li>
                <li class="last leaf"><a href="http://ask.un.org/" title="">Спросите DAG</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/ru" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Услуги для... <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/9975">Делегатов</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10062">Персонала ООН</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10056">Исследователей и библиотекарей</a></li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/10050">Широкой публики</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/ru" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Пользование библиотекой <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/ru/library/page/10011">Доступ к электронным ресурсам</a>
                </li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/10008">Получение книг и других материалов</a>
                </li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9912">Печать, сканирование и копирование</a></li>
                <li class="leaf"><a href="//www.un.org/ru/library/page/9909">Запрос статей, книг и других материалов</a>
                </li>
                <li class="last leaf"><a href="//www.un.org/ru/library/page/9903">Посещение Библиотеки</a></li>
              </ul>
            </li>
            <li class="last leaf"><a href="//www.un.org/ru/library/page/9681" title="">Обратная связь</a></li>
          </ul>
          <div class="region region-navigation">
            <section id="block-block-5" class="block block-block clearfix">


              <style type="text/css">
                .main_page_content>.col-md-12 {
                  padding-right: 0px;
                }

                .main_row_1_caption {
                  padding: 5px;
                  white-space: normal;
                  height: 50px;
                  display: table;
                  width: 100%;
                }

                .main_row_1_caption>a {
                  display: table-cell;
                  vertical-align: middle;
                }

                .front_caption>div {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  /* width: 80%; */
                  height: 30%;
                  margin: auto;
                  padding: 0px 5px;
                }

                a[hreflang]:after {
                  content: " [" attr(hreflang) "]";
                  color: #999;
                  vertical-align: super;
                  font-size: 70%;
                }

                .view-library-news #blog_page p {
                  padding-right: 15px;
                }
              </style>

            </section>
          </div>
        </nav>
      </div>

    </div>
  </div>
</div>