<div class="container" id="menu_container">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="navbar-header">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </div>
         <div class="navbar-collapse collapse" id="menu-navbar-collapse">
            <nav role="navigation">
               <ul class="nav navbar-nav navbar-right">
                  <li class="first expanded active dropdown">
                     <a href="/es" title="" class="dropdown-toggle active" data-toggle="dropdown">La Biblioteca <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/es/library/contact-us">Contacto</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/our-activities">Actividades</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/our-mandate-history">Mandato e historia</a></li>
						<li class="last leaf"><a href="//www.un.org/es/library/page/our-collections">Colecciones</a></li>
                     </ul>
                  </li>
                  <li class="expanded active dropdown">
                     <a href="/es" title="" class="dropdown-toggle active" data-toggle="dropdown">Investigación sobre la ONU <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/es/library/page/un-resources-documents">Recursos y documentos de la ONU</a></li>
						<li class="leaf"><a href="//digitallibrary.un.org/?ln=es">Biblioteca digital de la ONU</a></li>
						<li class="leaf"><a href="//research.un.org/es">Guías de investigación</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/index-proceedings">Indice de las Actas</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/speeches-and-meetings">Discursos</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/voting-information">Información sobre votaciones</a></li>
						<li class="last leaf"><a href="//www.un.org/es/library/unms">Estados Miembros de la ONU a lo largo de las sesiones</a></li>
                     </ul>
                  </li>
                  <li class="expanded active dropdown">
                     <a href="/es" title="" class="dropdown-toggle active" data-toggle="dropdown">Buscar <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/es/library/page/articles-books-more">Artículos, libros y otros documentos</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/databases">Bases de datos</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/journals">Publicaciones periódicas</a></li>
						<li class="last leaf"><a href="//www.un.org/es/library/page/un-resources-documents">Recursos y documentos de la ONU</a></li>
                     </ul>
                  </li>
                  <li class="expanded active dropdown">
                     <a href="/es" title="" class="dropdown-toggle active" data-toggle="dropdown">Ayuda <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/es/library/page/training-and-events">Formación</a></li>
						<li class="leaf"><a href="//research.un.org/es">Guías de investigación</a></li>
						<li class="last leaf"><a href="//ask.un.org/es">Pregunta a DAG</a></li>
                     </ul>
                  </li>
                  <li class="expanded active dropdown">
                     <a href="/es" title="" class="dropdown-toggle active" data-toggle="dropdown">Servicios destinados a… <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/es/library/page/services-delegates">Delegados</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/services-un-staff">Personal de las Naciones Unidas</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/services-researchers-and-librarians">Investigadores y bibliotecarios</a></li>
						<li class="last leaf"><a href="//www.un.org/es/library/page/services-general-public">Público en general</a></li>
                     </ul>
                  </li>
                  <li class="expanded active dropdown">
                     <a href="/es" title="" class="dropdown-toggle active" data-toggle="dropdown">Utilización de la Biblioteca <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/es/library/page/access-electronic-resources">Acceso a recursos electrónicos</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/borrow-books-more">Préstamo de libros y otros materiales</a></li>
						<li class="leaf"><a href="//www.un.org/es/library/page/request-articles-books-documents">Solicitud de artículos, libros y documentos</a></li>
						<li class="last leaf"><a href="//www.un.org/es/library/page/visit-library">Visita de la Biblioteca</a></li>
                     </ul>
                  </li>
                  <li class="last leaf"><a href="//library.un.org/es/content/contacto" title="">Contacto</a></li>
               </ul>
               <div class="region region-navigation">
                  <section id="block-block-5" class="block block-block clearfix">
                     <style type="text/css">.main_page_content > .col-md-12 {
                        padding-right: 0px;
                        }
                        .main_row_1_caption {
                        padding: 5px;
                        white-space: normal;
                        height: 50px;
                        display: table;
                        width: 100%;
                        }
                        .main_row_1_caption > a {
                        display: table-cell;
                        vertical-align: middle;
                        }
                        .front_caption > div {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        /* width: 80%; */
                        height: 30%;
                        margin: auto;
                        padding: 0px 5px;
                        }
                        a[hreflang]:after { 
                        content: " [" attr(hreflang) "]"; 
                        color: #999;
                        vertical-align: super;
                        font-size: 70%;
                        }
                        .view-library-news #blog_page p {
                        padding-right: 15px;
                        }
                     </style>
                  </section>
               </div>
            </nav>
         </div>
      </div>
   </div>
</div>

