<div class="container" id="menu_container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <div class="navbar-header">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse" id="menu-navbar-collapse">
        <nav role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="first expanded active dropdown"><a href="/" title="" class="dropdown-toggle active"
                data-toggle="dropdown">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/en/library/contact-us" title="Contact us">Contact Us</a>
                </li>
                <li class="leaf"><a href="//www.un.org/en/library/page/our-activities"
                    title="What are the activities of the library">Our Activities</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/our-mandate-history"
                    title="Information about the mandate and the history of the library and its building">Our Mandate
                    &amp; History</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/our-collections" title="Collections">Our
                    Collections</a></li>
                <li class="collapsed"><a href="//www.un.org/en/library/page/united-nations-depository-library-programme"
                    title="UN Depository Libraries Programme">UN Depository Libraries</a></li>
                <li class="last leaf"><a href="//www.un.org/en/library/librarynews">Library News</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Research the UN <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/en/library/page/un-resources-documents"
                    title="Information about Library resources about the United Nations">UN Resources &amp;
                    Documents</a></li>
                <li class="leaf"><a href="https://digitallibrary.un.org/"
                    title="Explore documents, votes, speeches, public domain publications and more!">UN Digital
                    Library</a></li>
                <li class="leaf"><a href="http://research.un.org/en"
                    title="Information about research guides produced by the Dag Hammarskjöld Library">Research
                    Guides</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/index-proceedings"
                    title="Index to Proceedings">Index to Proceedings</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/voting-information"
                    title="Voting information">Voting Information</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/speeches-and-meetings"
                    title="Gives access to the Index to Speeches database">Speeches</a></li>
                <li class="last leaf"><a href="//www.un.org/en/library/unms"
                    title="Access information about UN Member States">UN Member States on the Record</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Find <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/en/library/page/articles-books-more"
                    title="Articles, books &amp; more">Articles, Books &amp; More</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/databases" title="Databases">Databases</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/journals" title="Journals">Journals</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/un-resources-documents"
                    title="Information about library resources about the United Nations">UN Resources &amp;
                    Documents</a></li>
                <li class="last leaf"><a href="//www.un.org/en/library/page/un-libraries" title="UN Libraries">UN
                    Libraries</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Help <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/en/library/page/training" title="Training">Training</a>
                </li>
                <li class="leaf"><a href="http://research.un.org/en"
                    title="Information about research guides produced by the Dag Hammarskjöld Library">Research
                    Guides</a></li>
                <li class="last leaf"><a href="http://ask.un.org/"
                    title="Ask DAG is a FAQ database that lets one ask a question directly or browse over 500 questions and answers about all things UN; topics like the General Assembly, UN documents, international law, etc.">Ask
                    DAG</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Services for... <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/en/library/page/services-delegates"
                    title="Services for Delegates">Delegates</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/services-un-staff"
                    title="Services for UN Staff">UN Staff</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/services-researchers-and-librarians"
                    title="Services for Researchers &amp; Librarians">Researchers &amp; Librarians</a></li>
                <li class="last leaf"><a href="//www.un.org/en/library/page/services-general-public"
                    title="Services for General Public">General Public</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Using the Library <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/en/library/page/access-electronic-resources"
                    title="Access electronic resources">Access Electronic Resources</a></li>
                <li class="leaf"><a href="//www.un.org/en/library/page/borrow-books-more"
                    title="Borrow books &amp; more">Borrow Books &amp; More</a></li>
                <!-- <li class="leaf"><a href="//www.un.org/en/library/page/print-scan-copy" title="Print, scan &amp; copy">Print, Scan &amp; Copy</a></li>-->
                <li class="leaf"><a href="//www.un.org/en/library/page/request-articles-books-documents"
                    title="Request articles, books &amp; documents">Request Articles, Books &amp; Documents</a></li>
                <li class="last leaf"><a href="//www.un.org/en/library/page/visit-library"
                    title="Visit the Library">Visit the Library</a></li>
              </ul>
            </li>
            <li class="last leaf"><a href="//www.un.org/en/library/contact-us" title="Contact us">Contact Us</a></li>
          </ul>
          <div class="region region-navigation">
            <section id="block-block-5" class="block block-block clearfix">


              <style type="text/css">
                .main_page_content>.col-md-12 {
                  padding-right: 0px;
                }

                .main_row_1_caption {
                  padding: 5px;
                  white-space: normal;
                  height: 50px;
                  display: table;
                  width: 100%;
                }

                .main_row_1_caption>a {
                  display: table-cell;
                  vertical-align: middle;
                }

                .front_caption>div {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  /* width: 80%; */
                  height: 30%;
                  margin: auto;
                  padding: 0px 5px;
                }

                a[hreflang]:after {
                  content: " [" attr(hreflang) "]";
                  color: #999;
                  vertical-align: super;
                  font-size: 70%;
                }

                .view-library-news #blog_page p {
                  padding-right: 15px;
                }
              </style>

            </section>
          </div>
        </nav>
      </div>

    </div>
  </div>
</div>