<div class="container" id="menu_container">
	<div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12">
			<div class="navbar-header">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
			<div class="navbar-collapse collapse" id="menu-navbar-collapse">
                <nav role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="first expanded active dropdown">
						<a href="/ar" title="" class="dropdown-toggle active" data-toggle="dropdown">معلومات عن المكتبة <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li class="first leaf"><a href="//www.un.org/ar/library/contact-us">اتصل بنا</a></li>
								<li class="leaf"><a href="//www.un.org/ar/library/page/our-activities">أنشطتنا</a></li>
								<li class="leaf"><a href="//www.un.org/ar/library/page/our-mandate-history">مهمتنا وتاريخنا</a></li>
								<li class="last leaf"><a href="//www.un.org/ar/library/page/our-collections">مجموعاتنا</a></li>
							</ul>
						</li>
						
						
      <li class="expanded active dropdown"><a href="/ar" title="" class="dropdown-toggle active" data-toggle="dropdown">ابحث في الأمم المتحدة <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
		  <li class="first leaf"><a href="//www.un.org/ar/library/page/un-resources-documents">موارد الأمم المتحدة ووثائقها</a></li>
		  <li class="leaf"><a href="//digitallibrary.un.org/?ln=ar" title="استكشف الوثائق، والتصويت، والخطب، ومطبوعات ذات الملك العام والعديد من المعلومات الأخرى">المكتبة الرقمية للأمم المتحدة</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/researchguides">أدلة البحث</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/index-proceedings" title="">فهرس وقائع الجلسات</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/speeches-and-meetings">الخطب والاجتماعات</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/voting-information">معلومات عن التصويت</a></li>
		  <li class="last leaf"><a href="//www.un.org/ar/library/unms" title="">الدول الأعضاء في الأمم المتحدة على السجل</a></li>
      </ul></li>

	  <li class="expanded active dropdown">
	  <a href="/ar" title="" class="dropdown-toggle active" data-toggle="dropdown">ابحث عن <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
		  <li class="first leaf"><a href="//www.un.org/ar/library/page/articles-books-more">المقالات والكتب وغيرها</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/databases">قواعد البيانات</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/journals">المجلات</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/un-resources-documents" title="">موارد الأمم المتحدة ووثائقها</a></li>
		  <li class="last leaf"><a href="//www.un.org/ar/library/page/un-libraries" title="مكتبات الأمم المتحدة">مكتبات الأمم المتحدة</a></li>
      </ul></li>
	  
      <li class="expanded active dropdown"><a href="/ar" title="" class="dropdown-toggle active" data-toggle="dropdown">طلب المساعدة <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
		  <li class="first leaf"><a href="//www.un.org/ar/library/page/training-and-events">التدريب</a></li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/researchguides" title="">أدلة البحث</a></li>
		  <li class="last leaf"><a href="//ask.un.org/" title="">اِسأل المكتبة</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/ar" title="" class="dropdown-toggle active" data-toggle="dropdown">الخدمات... <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
		  <li class="first leaf"><a href="//www.un.org/ar/library/page/services-delegates">الوفود</a> </li>
		  <li class="leaf"><a href="//www.un.org/ar/library/page/services-un-staff">لموظفي الأمم المتحدة</a></li>
		  <li class="leaf"> <a href="//www.un.org/ar/library/page/services-researchers-and-librarians">للباحثين وأمناء المكتبات</a></li>
		  <li class="last leaf"><a href="//www.un.org/ar/library/page/services-general-public">لعامة الجمهور</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/ar" title="" class="dropdown-toggle active" data-toggle="dropdown">استخدام المكتبة <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
		<li class="first leaf"><a href="//www.un.org/ar/library/page/access-electronic-resources">الوصول إلى الموارد الإلكترونية</a></li>        
		<li class="leaf"><a href="//www.un.org/ar/library/page/borrow-books-more">استعارة الكتب وغيرها</a></li>        
		<li class="leaf"><a href="//www.un.org/ar/library/page/request-articles-books-documents">طلب المقالات والكتب والوثائق</a></li>        
		<li class="last leaf"><a href="//www.un.org/ar/library/page/visit-library">زيارة المكتبة</a></li>
      </ul></li>
      <li class="last leaf"><a href="//www.un.org/ar/library/contact-us" title="">اتصل بنا</a></li>
      </ul>  
	  
	  <div class="region region-navigation">
          <section id="block-block-5" class="block block-block clearfix">
      
            
        <style type="text/css">.main_page_content > .col-md-12 {
          padding-right: 0px;
      }
      
      .main_row_1_caption {
          padding: 5px;
          white-space: normal;
          height: 50px;
          display: table;
          width: 100%;
      }
      
      .main_row_1_caption > a {
          display: table-cell;
          vertical-align: middle;
      }
      
      .front_caption > div {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          /* width: 80%; */
          height: 30%;
          margin: auto;
          padding: 0px 5px;
      }
      
      a[hreflang]:after { 
          content: " [" attr(hreflang) "]"; 
          color: #999;
          vertical-align: super;
          font-size: 70%;
      }
      
      .view-library-news #blog_page p {
          padding-right: 15px;
      }
      </style>
      
      </section>
        </div>
                  </nav>
                </div>
              
          </div>	
        </div>
      </div>
