<header id="navbar" role="banner" class="">
  <div class="container">
    <div class="navbar-header">
	  <a class="logo navbar-btn pull-left flip emblem_menu_and_masthead" href="https://www.un.org/en" title="United Nations">
	    <img src="https://www.un.org/sites/un2.un.org/themes/bootstrap_un2/logo.png" alt="UN logo">
      </a>
      <div class="navbar-brand-img-subtitle-1 col-md-5"><a href="https://www.un.org/en/library">Dag Hammarskjöld Library</a></div>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-main-menu">
              <ul id="main-menu" class="nav navbar-nav">
                <li class="menu-20243 top-level">
                  <a href="" role="button" class="" aria-expanded="false" title="">About          <span class="sf-sub-indicator"> »</span>          </a>
                  <ul class="subnav" id="subnav-20243">        
                    <li class="menu-20243">          <a href="https://www.un.org/en/library/contact-us" title="" class="">Contact Us</a>        </li>
                    <li class="menu-20243">          <a href="https://www.un.org/en/library/page/our-activities" title="" class="">Our Activities</a>        </li>        
                    <li class="menu-20243">          <a href="https://www.un.org/en/library/page/our-mandate-history" title="" class="">Our Mandate & History</a>        </li>        
                    <li class="menu-20243">          <a href="https://www.un.org/en/library/page/our-collections" title="" class="">Our Collections</a>        </li>        
                    <li class="menu-20243">          <a href="https://www.un.org/en/library/page/united-nations-depository-library-programme" title="" class="">UN Depository Libraries</a>        </li>        
                    <li class="menu-20243">          <a href="https://www.un.org/en/library/librarynews" title="" class="">Library News</a>        </li>
                  </ul>
                </li>        
                <li class="menu-20246 top-level">          
                  <a href="" role="button" class="" aria-expanded="false" title="">Research the UN          <span class="sf-sub-indicator"> »</span>          </a>         
                  <ul class="subnav" id="subnav-20246">        
                    <li class="menu-20246">          <a href="https://www.un.org/en/library/page/un-resources-documents" title="" class="">UN Resources & Documents</a>        </li>
                    <li class="menu-20246">          <a href="https://digitallibrary.un.org/" title="" class="">UN Digital Library</a>        </li>        
                    <li class="menu-20246">          <a href="https://www.un.org/en/library/page/index-proceedings" title="" class="">Index to Proceedings</a>        </li>        
                    <li class="menu-20246">          <a href="http://metadata.un.org/" title="" class="">Linked Data Services</a>        </li>        
                    <li class="menu-20246">          <a href="http://research.un.org/en" title="" class="">Research Guides</a>        </li>        
                    <li class="menu-20246">          <a href="https://www.un.org/en/library/page/speeches-and-meetings" title="" class="">Speeches</a>        </li>        
                    <li class="menu-20246">          <a href="https://www.un.org/en/library/page/voting-information" title="" class="">Voting Information</a>        </li>        
                    <li class="menu-20246">          <a href="https://www.un.org/en/library/unms" title="" class="">Member States on the Record</a>        </li>
                  </ul>
                </li>        
                <li class="menu-20249 top-level">          
                  <a href="" role="button" class="" aria-expanded="false" title="">Find          <span class="sf-sub-indicator"> »</span>          </a>         
                  <ul class="subnav " id="subnav-20249">        
                    <li class="menu-20249">          <a href="https://www.un.org/en/library/page/articles-books-more" title="" class="">Articles, Books & More</a>        </li>        
                    <li class="menu-20249">          <a href="https://www.un.org/en/library/page/databases" title="" class="">Databases</a>        </li>        
                    <li class="menu-20249">          <a href="https://www.un.org/en/library/page/journals" title="" class="">Journals</a>        </li>        
                    <li class="menu-20249">          <a href="https://www.un.org/en/library/page/un-resources-documents" title="" class="">UN Resources & Documents</a>        </li>        
                    <li class="menu-20249">          <a href="https://www.un.org/en/library/page/un-libraries" title="" class="">UN Libraries</a>        </li>
                  </ul>
                </li>        
                <li class="menu-20252 top-level">          
                  <a href="" role="button" class="" aria-expanded="false" title="">Help          <span class="sf-sub-indicator"> »</span>          </a>         
                  <ul class="subnav " id="subnav-20252">        
                    <li class="menu-20252">          <a href="https://www.un.org/en/library/page/training-and-events" title="" class="">Training</a>        </li>        
                    <li class="menu-20252">          <a href="http://research.un.org/en" title="" class="">Research Guides</a>        </li>        
                    <li class="menu-20252">          <a href="http://ask.un.org/" title="" class="">Ask DAG</a>        </li>
                  </ul>
                </li>        
                <li class="menu-20255 top-level">          
                  <a href="" role="button" class="" aria-expanded="false" title="">Services for...          <span class="sf-sub-indicator"> »</span>          </a>         
                  <ul class="subnav" id="subnav-20255">        
                    <li class="menu-20255">          <a href="https://www.un.org/en/library/page/services-delegates" title="" class="">Delegates</a>        </li>        
                    <li class="menu-20255">          <a href="https://www.un.org/en/library/page/services-un-staff" title="" class="">UN Staff</a>        </li>        
                    <li class="menu-20255">          <a href="https://www.un.org/en/library/page/services-researchers-and-librarians" title="" class="">Researchers & Librarians</a>        </li>        
                    <li class="menu-20255">          <a href="https://www.un.org/en/library/page/services-general-public" title="" class="">General Public</a>        </li>
                  </ul>
                </li>        
                <li class="menu-20258 top-level">          
                  <a href="" role="button" class="" aria-expanded="false" title="">Using the Library          <span class="sf-sub-indicator"> »</span>          </a>         
                  <ul class="subnav" id="subnav-20258">        
                    <li class="menu-20258">          <a href="https://www.un.org/en/library/page/access-electronic-resources" title="" class="">Access Electronic Resources</a>        </li>        
                    <li class="menu-20258">          <a href="https://www.un.org/en/library/page/borrow-books-more" title="" class="">Borrow Books & More</a>        </li>        
                    <li class="menu-20258">          <a href="https://www.un.org/en/library/page/request-articles-books-documents" title="" class="">Request Articles, Books & Documents</a>        </li>        
                    <li class="menu-20258">          <a href="https://www.un.org/en/library/page/visit-library" title="" class="">Visit the Library</a>        </li>
                  </ul>
                </li>        
                <li class="menu-34055 top-level">          
                  <a href="https://www.un.org/en/library/OS" role="button" title="" class="">Open Science          </a>
                </li>        
                <li class="menu-20261 top-level">          
                  <a href="https://www.un.org/en/library/contact-us" role="button" class="" aria-expanded="false" title="">Contact Us          <span class="sf-sub-indicator"> »</span>          </a>         
                  <ul class="subnav" id="subnav-20261">        
                    <li class="menu-20261">          <a href="https://www.un.org/en/library/contact-us" title="" class="">Contact Us</a>        </li>
                  </ul>
                </li>
              </ul>          
    </div>    
  </div>    <!-- close div container -->
</header>
