<div class="container" id="menu_container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <div class="navbar-header">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse" id="menu-navbar-collapse">
        <nav role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="first expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active"
                data-toggle="dropdown">À propos <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/contactez-nous">Contactez-nous</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/nos-activit%C3%A9s">Nos activités</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/mission-et-historique">Mission et historique</a>
                </li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/nos-collections">Nos collections</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Recherche sur l'ONU <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a
                    href="//www.un.org/fr/library/page/ressources-et-documents-de-l%E2%80%99onu">Ressources et documents
                    de l’ONU</a></li>
                <li class="leaf"><a href="https://digitallibrary.un.org/?ln=fr"
                    title="Explorez des documents, votes, discours, publications du domaine public et plus!">Bibliothèque
                    numérique de l'ONU</a></li>
                <li class="leaf"><a href="http://research.un.org/fr" title="">Guides de recherche</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/index-des-actes">Index des actes</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/discours-et-r%C3%A9unions">Discours</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/informations-de-vote">Informations de vote</a>
                </li>
                <li class="last leaf"><a href="https://library.un.org/unms" title="">Les États Membres au fil des
                    sessions</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Trouver <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/articles-livres-et-plus">Articles, livres
                    et plus</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/bases-de-donn%C3%A9es">Bases de données</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/revues">Revues</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/un-resources-documents" title="">Ressources et
                    documents de l’ONU</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/biblioth%C3%A8ques-de-lonu">Bibliothèques de
                    l'ONU</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Apprendre <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/formations">Formation</a></li>
                <li class="leaf"><a href="http://research.un.org/fr" title="">Guides de recherche</a></li>
                <li class="last leaf"><a href="http://ask.un.org/fr" title="">Demandez à DAG</a></li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Services à l’intention… <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a
                    href="//www.un.org/fr/library/page/services-%C3%A0-l%E2%80%99intention-des-d%C3%A9l%C3%A9gu%C3%A9s">des
                    délégués</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/services-un-staff">du personnel de l’ONU</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/services-researchers-and-librarians">des
                    chercheurs et des bibliothécaires</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/services-general-public">du grand public</a>
                </li>
              </ul>
            </li>
            <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active"
                data-toggle="dropdown">Utiliser la bibliothèque <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a
                    href="//www.un.org/fr/library/page/acc%C3%A9der-aux-ressources-%C3%A9lectroniques">Accéder aux
                    ressources électroniques</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/emprunter-des-livres-et-plus">Emprunter des
                    livres et plus</a></li>
                <!-- <li class="leaf"><a href="//www.un.org/fr/library/page/imprimer-scanner-et-copier">Imprimer, scanner et copier</a></li> -->
                <li class="leaf"><a
                    href="//www.un.org/fr/library/page/demander-des-articles-livres-et-documents">Demander des articles,
                    livres et documents</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/visiter-la-biblioth%C3%A8que">Visiter la
                    Bibliothèque</a></li>
              </ul>
            </li>
            <li class="last leaf"><a href="//www.un.org/fr/library/page/contactez-nous" title="">Contactez-nous</a></li>
          </ul>
          <div class="region region-navigation">
            <section id="block-block-5" class="block block-block clearfix">


              <style type="text/css">
                .main_page_content>.col-md-12 {
                  padding-right: 0px;
                }

                .main_row_1_caption {
                  padding: 5px;
                  white-space: normal;
                  height: 50px;
                  display: table;
                  width: 100%;
                }

                .main_row_1_caption>a {
                  display: table-cell;
                  vertical-align: middle;
                }

                .front_caption>div {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  /* width: 80%; */
                  height: 30%;
                  margin: auto;
                  padding: 0px 5px;
                }

                a[hreflang]:after {
                  content: " [" attr(hreflang) "]";
                  color: #999;
                  vertical-align: super;
                  font-size: 70%;
                }

                .view-library-news #blog_page p {
                  padding-right: 15px;
                }
              </style>

            </section>
          </div>
        </nav>
      </div>

    </div>
  </div>
</div>