<div class="container" id="menu_container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
          
              <div class="navbar-header">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
      
                        <div class="navbar-collapse collapse" id="menu-navbar-collapse">
                  <nav role="navigation">
                    <ul class="nav navbar-nav navbar-right"><li class="first expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active" data-toggle="dropdown">À propos <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="first leaf"><a href="//www.un.org/fr/library/contact-us" title="">Contactez-nous</a></li>
						<li class="first leaf"><a href="//www.un.org/fr/library/page/our-activities" title="">Nos activités</a></li>
						<li class="leaf"><a href="//www.un.org/fr/library/page/our-mandate-history" title="">Mission et historique</a></li>
						<li class="leaf"><a href="//www.un.org/fr/library/page/our-collections" title="">Nos collections</a></li>
						<li class="last leaf"><a href="//www.un.org/fr/node/75104" title="">Bibliothèques dépositaires</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active" data-toggle="dropdown">Recherche sur l'ONU <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/un-resources-documents" title="">Ressources et documents de l’ONU</a></li>
                <li class="leaf"><a href="//digitallibrary.un.org/?ln=fr" title="Explorez des documents, votes, discours, publications du domaine public et plus!">Bibliothèque numérique de l'ONU</a></li>
                <li class="leaf"><a href="//research.un.org/fr" title="">Guides de recherche</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/index-proceedings" title="">Index des actes</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/speeches-and-meetings" title="">Discours</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/voting-information" title="">Informations de vote</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/unms" title="">Les États Membres au fil des sessions</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active" data-toggle="dropdown">Trouver <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/articles-books-more" title="">Articles, livres et plus</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/databases" title="">Bases de données</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/journals" title="">Revues</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/un-libraries" title="">Ressources et documents de l’ONU</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/un-resources-documents" title="">Bibliothèques de l’ONU</a></li>

      </ul></li>
      
	  <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active" data-toggle="dropdown">Apprendre <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/training-and-events" title="">Formation</a></li>
                <li class="leaf"><a href="//research.un.org/fr" title="">Guides de recherche</a></li>
                <li class="last leaf"><a href="//ask.un.org/fr" title="">Demandez à DAG</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active" data-toggle="dropdown">Services à l’intention… <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
                <li class="first leaf"><a href="//www.un.org/fr/library/page/services-delegates" title="">des délégués</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/services-un-staff" title="">du personnel de l’ONU</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/services-researchers-and-librarians" title="">des chercheurs et des bibliothécaires</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/services-general-public" title="">du grand public</a></li>
      </ul></li>
      <li class="expanded active dropdown"><a href="/fr" title="" class="dropdown-toggle active" data-toggle="dropdown">Utiliser la bibliothèque <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	  
				<li class="first leaf"><a href="//www.un.org/fr/library/page/access-electronic-resources" title="">Accéder aux ressources électroniques</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/borrow-books-more" title="">Emprunter des livres et plus</a></li>
                <li class="leaf"><a href="//www.un.org/fr/library/page/request-articles-books-documents" title="">Imprimer, scanner et copier</a></li>
                <li class="last leaf"><a href="//www.un.org/fr/library/page/visit-library" title="">Visiter la bibliothèque</a></li>
      </ul></li>
      <li class="last leaf"><a href="//www.un.org/fr/library/contact-us" title="">Contactez-nous</a></li>
      </ul>  <div class="region region-navigation">
          <section id="block-block-5" class="block block-block clearfix">
      
            
        <style type="text/css">.main_page_content > .col-md-12 {
          padding-right: 0px;
      }
      
      .main_row_1_caption {
          padding: 5px;
          white-space: normal;
          height: 50px;
          display: table;
          width: 100%;
      }
      
      .main_row_1_caption > a {
          display: table-cell;
          vertical-align: middle;
      }
      
      .front_caption > div {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          /* width: 80%; */
          height: 30%;
          margin: auto;
          padding: 0px 5px;
      }
      
      a[hreflang]:after { 
          content: " [" attr(hreflang) "]"; 
          color: #999;
          vertical-align: super;
          font-size: 70%;
      }
      
      .view-library-news #blog_page p {
          padding-right: 15px;
      }
      </style>
      
      </section>
        </div>
                  </nav>
                </div>
              
          </div>	
        </div>
      </div>
