<!DOCTYPE html>
<html lang="en"> 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <!-- <link rel="icon" href="../../favicon.ico"> -->
 
     <title>{% block title %}{{_('UN Linked Data Portal')}}{% endblock %}</title>
     <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" filename="favicon.ico">

     <!-- Roboto Font -->
      <link href="{{ url_for('static', filename='css/roboto.css') }}" rel="stylesheet"> 
 
     <!-- Bootstrap core CSS -->
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

     <!-- url-search-params-polyfill -->
     <script type="application/javascript" src="{{ url_for('static', filename='js/url_search_params_polyfill.js') }}"> </script>

     <!-- popper.js -->
     <script src="{{ url_for('static', filename='js/popper.js') }}" type="application/javascript"></script>
     
     <!-- jQueryUI css -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">

     <!-- FontAwesome -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <!-- Local Custom styles for this template -->
     <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

     <!-- Hosted Style -->
     <!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zappa-j2ith0vcq/style.css"> -->
 
    <!-- jQuery -->
    <script
      src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

    <!-- jQuery UI -->
    <script
        src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <!-- Bootstrap JS -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>

    <script type=application/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- local index.js -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}"> </script>
 
  </head>
  {% if lang == 'ar' %}
    {% set direction = "rtl" -%}
    {% set margin = "mr-auto" -%}
    {% set arrow = "left" %}
  {% else %}
    {% set direction = "ltr" -%}
    {% set margin = "ml-auto" -%}
    {% set arrow = "right" %}
  {% endif %}
  <body dir="{{direction}}">
    <!-- Start UN language bar-->
    <nav class="navbar navbar-expand fixed-top" id="brand-bar">
      <div class="container brandbar-header">
        <i class="fas fa-home"></i><a class="navbar-brand" href="/">{{_('Welcome to the United Nations')}}</a>
            <ul class="language-switcher-locale-url navbar-nav {{margin}}" role="menu">
              <li class="nav-item"><a id="ar" href="?lang=ar" class="nav-link lang" xml:lang="ar">العربية</a></li>
              <li class="nav-item"><a id="zh" href="?lang=zh" class="nav-link lang" xml:lang="zh-hans">中文</a></li>
              <li class="nav-item"><a id="en" href="?lang=en" class="nav-link lang" xml:lang="en">English</a></li>
              <li class="nav-item"><a id="fr" href="?lang=fr" class="nav-link lang" xml:lang="fr">Français</a></li>
              <li class="nav-item"><a id="ru" href="?lang=ru" class="nav-link lang" xml:lang="ru">Русский</a></li>
              <li class="nav-item"><a id="es" href="?lang=es" class="nav-link lang" xml:lang="es">Español</a></li>
            </ul>                
      </div>
    </nav>
    <div class="container">
      <nav id="site-nav" class="navbar navbar-expand-lg navbar-light bg-white align-items-end mt-5">
        <a href="https://library.un.org">
          {% if lang == 'en' %}
          <img src="{{ url_for('static', filename='img/logo.svg') }}" style="width:390px;">
          {% elif lang == 'zh' %}
          <img src="{{ url_for('static', filename='img/logo-ch.svg') }}" style="width:390px;">
          {% else %}
          <img src="{{ url_for('static', filename='img/logo-' + lang + '.svg') }}" style="width:390px;">
          {% endif %}
        </a>
        <span class="mx-3 text-uppercase">
          <h1 id="site-identifier">{{_('Linked Data Portal')}}</h1>
          <!--Special: Temporary survey link to report found issues.-->
        </span>
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="{{ url_for('feedback') }}">Beta: Report Issues</a>
          </li>
        </ul>
      </nav>
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
