<!DOCTYPE html>
<html lang="en">

<head>

    <!-- New meta added -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="https://s3.amazonaws.com/libapps/customers/49/images/AskDag-square-small.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta name="google-site-verification" content="twHtwx7VespMWISHwScmzVANCmhfvSph7YcqvJ-vzM0" />
    <meta name="description" content="Frequently asked questions (FAQs) about the United Nations" />
    <meta name="keywords" content="UN,United Nations,questions, answers,faq,faqs,general assembly, security council, resolutions, documents,meetings,delegates,member states" />


    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %}{{_('UN Linked Data Portal')}}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" filename="favicon.ico">

    <!-- Roboto Font -->
    <link href="{{ url_for('static', filename='css/roboto.css') }}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <!-- url-search-params-polyfill -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/url_search_params_polyfill.js') }}">
    </script>

    <!-- popper.js -->
    <script src="{{ url_for('static', filename='js/popper.js') }}" type="application/javascript"></script>

    <!-- jQueryUI css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Local Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

    <!-- Hosted Style -->
    <!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zappa-j2ith0vcq/style.css"> -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

    <!-- jQuery UI -->
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <!-- Bootstrap JS -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>

    <script type=application/javascript>
        $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>

    <!-- local index.js -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}">
    </script>

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7791431-17"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-7791431-17');
    </script>

    <!-- New CSS added -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Latest Answers" href="https://ask.un.org/rss.php?m=new&iid=466&gid=181" />
    <link rel="stylesheet" media="screen" href="static/css/font_awesome_min.css" />
    <link rel="stylesheet" media="screen" href="static/css/libanswers_public_min.css" />
    <link rel="stylesheet" media="screen" href="static/css/custom.css" />
    <link rel="shortcut icon" href="https://library.un.org/sites/library.un.org/themes/bootstrap_library/favicon.ico" type="image/vnd.microsoft.icon" />

    <!-- New scripts added -->
    <script src="https://v2.libanswers.com/js2.27.1/jquery.min.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="https://js2.27.1/LibAnswers_public.min.js"></script>
    <script src="https://v2.libanswers.com/load_chat.php?hash=eed993921f2ea7b3751b665d441faff4"></script>

</head>
{% if lang == 'ar' %} {% set direction = "rtl" -%} {% set margin = "mr-auto" -%} {% set arrow = "left" %} {% else %} {% set direction = "ltr" -%} {% set margin = "ml-auto" -%} {% set arrow = "right" %} {% endif %}

<body dir="{{direction}}" id="s-la-page-14643" class="s-la-page-public s-la-page-home">
    <!-- Start UN language bar-->
    <nav class="navbar navbar-expand fixed-top" id="brand-bar">
        <div class="container brandbar-header">
            <i class="fas fa-home"></i><a class="navbar-brand" href="/">{{_('Welcome to the United Nations')}}</a>
            <ul class="language-switcher-locale-url navbar-nav {{margin}}" role="menu">
                <li class="nav-item"><a id="ar" href="?lang=ar" class="nav-link lang" xml:lang="ar">العربية</a></li>
                <li class="nav-item"><a id="zh" href="?lang=zh" class="nav-link lang" xml:lang="zh-hans">中文</a></li>
                <li class="nav-item"><a id="en" href="?lang=en" class="nav-link lang" xml:lang="en">English</a></li>
                <li class="nav-item"><a id="fr" href="?lang=fr" class="nav-link lang" xml:lang="fr">Français</a></li>
                <li class="nav-item"><a id="ru" href="?lang=ru" class="nav-link lang" xml:lang="ru">Русский</a></li>
                <li class="nav-item"><a id="es" href="?lang=es" class="nav-link lang" xml:lang="es">Español</a></li>
            </ul>
        </div>
    </nav>

    <!-- Library header -->
    <div class="container">
        <div class="row" id="logo_row">
            <div class="col-md-4 col-sm-6 col-xs-9">
                <a href="https://library.un.org"><img alt="UN Library logo" class="img-responsive" src="static/img/logo.svg"></a>
            </div>
            <div class="col-md-1 hidden-xs hidden-sm triangle-topright vert-bottom"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 vert-bottom" id="triangle-container">
                <div class="header-bar">
                    <a class="nav-link" href="{{ url_for('feedback') }}"> Beta: Report Issues</a>
                </div>
                <div class="hidden-xs hidden-sm triangle-topleft"></div>
                <div class="hidden-xs hidden-sm triangle-topright-salmon"> </div>
                <div id="social-icons">
                    <a href="https://www.facebook.com/UnitedNationsLibrary" target="_blank" title="Dag Hammarskjöld Library on Facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/UNLibrary" target="_blank" title="@UNLibrary"><i class="fab fa-twitter-square"></i></a>
                </div>
                <div class="hidden-xs hidden-sm triangle-topleft-salmon"></div>
                <div class="hidden-xs hidden-sm triangle-topright"></div>
                <div class="header-bar"></div>
            </div>
            <div class="col-md-1 hidden-xs hidden-sm triangle-topleft vert-bottom"></div>
        </div>
        <hr>
    </div>

    <!-- End Library header -->

    {% block content %} {% endblock %}

    <!-- footer -->
    <br/>
    <br/>
    <br/>
    <footer class="footer container">

        <div class="row" id="footer">
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_1">
                <!-- Left footer column -->
                <h5>About</h5>
                <ul class="">
                    <li class="first leaf"><a href="http://library.un.org/content/our-activities" title="">Our Activities</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/our-mandate-history" title="">Our Mandate and History</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/our-collections" title="">Our Collections</a></li>
                    <li class="last leaf"><a href="http://library.un.org/content/united-nations-depository-library-programme" title="">UN Depository Libraries</a></li>
                </ul>
                <h5>Research the UN</h5>
                <ul class="">
                    <li class="first leaf"><a href="http://library.un.org/content/un-resources-documents" title="">UN Resources and Documents</a></li>
                    <li class="leaf"><a href="https://digitallibrary.un.org/" title="">UN Digital Library</a></li>
                    <li class="leaf"><a href="//research.un.org/en" title="">Research Guides</a></li>

                    <li class="leaf"><a href="http://library.un.org/content/index-proceedings-0" title="">Index to Proceedings</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/speeches-and-meetings" title="">Speeches</a></li>
                    <li class="last leaf"><a href="http://library.un.org/content/voting-information" title="">Voting Information</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_2">
                <!-- Middle footer column -->
                <h5>Find</h5>
                <ul class="">
                    <li class="first leaf"><a href="http://library.un.org/content/articles-books-more" title="">Articles, Books and More</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/access-electronic-resources" title="">Databases</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/journals" title="">Journals</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/un-resources-documents" title="">UN Resources and Documents</a></li>
                    <li class="last leaf"><a href="http://library.un.org/content/un-libraries" title="">UN Libraries</a></li>
                </ul>
                <h5>Help</h5>
                <ul class="">
                    <li class="first leaf"><a href="http://library.un.org/content/training" title="">Training</a></li>
                    <li class="leaf"><a href="http://research.un.org/en" title="">Research Guides</a></li>
                    <li class="last leaf"><a href="http://ask.un.org/">Ask DAG</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 footer_menu" id="footer_menu_3">
                <!-- Right footer column -->
                <h5>Services for...</h5>
                <ul class="">
                    <li class="first leaf"><a href="http://library.un.org/content/services-delegates" title="">Delegates</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/services-un-staff" title="">UN Staff</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/services-researchers-and-librarians" title="">Researchers and Librarians</a></li>
                    <li class="last leaf"><a href="http://library.un.org/content/services-general-public" title="">General Public</a></li>
                </ul>
                <h5>Using the Library</h5>
                <ul class="">
                    <li class="first leaf"><a href="http://library.un.org/content/access-electronic-resources" title="">Access Electronic Resources</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/borrow-books-more" title="">Borrow Books and More</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/print-scan-copy" title="">Print, Scan and Copy</a></li>
                    <li class="leaf"><a href="http://library.un.org/content/request-articles-books-documents" title="">Request Articles, Books and Documents</a></li>
                    <li class="last leaf"><a href="http://library.un.org/content/visit-library" title="">Visit the Library</a></li>
                </ul>
            </div>
            <!-- fun facts block -->
            <div class="col-xs-12 col-md-3" id="footer_fun_fact">
                <div class="view view-rotatinginformation-frontpage-view view-id-rotatinginformation_frontpage_view view-display-id-default view-dom-id-c4a167f6be064462fda889e6242b4609">
                    591,100 Ask DAG views last year

                    <div class="view-content">
                        <div></div>
                    </div>






                </div>
            </div>
        </div>

        <div class="row list-inline">
            <div class="col-md-12">
                <div class="pull-left flip footer-brand">
                    <a href="http://www.un.org/en/index.html" title="Home">
                        <span class="site-name">United Nations</span></a>
                </div>
                <div class="pull-right flip">
                    <section class="region region-footer-5">
                        <div id="block-menu-menu-footer-links" class="block block-menu">
                            <ul class="menu nav">
                                <li class="first leaf"><a href="http://www.un.org/en/aboutun/copyright/index.html">Copyright</a></li>
                                <li class="leaf"><a href="http://www.un.org/en/sections/aboutun/fraud-alert/index.html">Fraud Alert</a></li>
                                <li class="leaf"><a href="http://www.un.org/en/sections/about-website/privacy-notice/index.html">Privacy Notice</a></li>
                                <li class="last leaf"><a href="http://www.un.org/en/sections/about-website/terms-use/index.html">Terms of Use</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </footer>

    <!-- footer-->

    <!-- New Optional stat code -->
    <div id="s-la-public-tracking">
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-7791431-11', 'auto');
            ga('send', 'pageview');
        </script>
    </div>

    <!-- New Optional cookie warning -->

    <div id="s-ui-alertarea" role="alert"></div>

</body>

</html>