 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <!-- <link rel="icon" href="../../favicon.ico"> -->
 
     <title>{% block title %}{{_('UN Linked Data Portal')}}{% endblock %}</title>
     <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" filename="favicon.ico">

     <!-- Roboto Font -->
      <!-- <link href="{{ url_for('static', filename='css/roboto.css') }}" rel="stylesheet"> -->
 
     <!-- Bootstrap core CSS -->
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

     <!-- url-search-params-polyfill -->
     <!-- <script type="application/javascript" src="{{ url_for('static', filename='js/url_search_params_polyfill.js') }}"> </script> -->
     
     <!-- jQueryUI css -->
     <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}"> -->

     <!-- FontAwesome -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <!-- global UN Library styles -->
     <!-- <link rel="stylesheet" href="http://s3.amazonaws.com/libapps/sites/50/include/global-rg-dhl.css"> -->
     
     <!-- Local Custom styles for this template -->
     <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
 
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

    <!-- jQuery UI -->
    <!-- <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script> -->

    <!-- Bootstrap JS -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>

    <script type=application/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- local index.js -->
    <!-- <script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}"> </script> -->
 
  </head>