{% extends 'base.html' %} {% block content %}


    <!-- begin front page content -->
    <div class="row" id="main_row">
        <div class="container">
            <a id="main-content"></a>
            <!-- top row -->
            <div class="row main_row_label">
                <div class="col-md-3 col-sm-12 main_row_label_text">
                    <h1>{{_('Services Available')}}</h1>
                </div>
                <div class="col-md-1 hidden-sm hidden-xs main_row_label_triangle-topleft"></div>
            </div>
            <div class="row" id="main_row_1">
                <div class="col-md-12">
                {% for bp in blueprints %}
                    <p>
                        <h5><a href="{{ url_for(bp + '.index', lang=lang) }}">{{_(blueprints[bp]['title'])}}</a></h5>
                    </p>
                {% endfor %}
                </div>
            </div>

            <div class="row main_row_label mx-4">
                <div class="col-md-3 col-sm-12 main_row_label_text">
                    <h1>{{_('Linked Data Portal')}}</h1>
                </div>
                <div class="col-md-1 hidden-sm hidden-xs main_row_label_triangle-topleft"></div>
            </div>
            <div class="row" id="main_row_2">
                <div class="col-md-12">

                    {% include '_about-' + lang + '.html' ignore missing %}
                </div>
            </div>
        </div>
    </div>
    <!-- end front page content -->

{% endblock %}
