<!-- Library subnavigation -->
<div class="container" id="menu_container" style="padding:0px">
    <div class="row-flex">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding:0px">
        <div class="navbar-header" style="font-size: 0px">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-navbar-collapse" style="padding: 0px">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar navbar-expand justify-content-end" id="menu-navbar-collapse">
            <nav role="navigation">
                <ul class="nav navbar-nav navbar-right">
                <li class="first expanded active dropdown">
                    <a href="/" title="" class="dropdown-toggle active" data-toggle="dropdown">About <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li class="first leaf"><a href="https://library.un.org/content/contact-us-0" title="Contact us">Contact Us</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/our-activities" title="What are the activities of the library">Our Activities</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/our-mandate-history" title="Information about the mandate and the history of the library and its building">Our Mandate &amp; History</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/our-collections" title="Collections">Our Collections</a></li>
                    <li class="collapsed"><a href="https://library.un.org/content/united-nations-depository-library-programme" title="UN Depository Libraries Programme">UN Depository Libraries</a></li>
                    <li class="last leaf"><a href="https://library.un.org/content/library-news">Library News</a></li>
                    </ul>
                </li>
                <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active" data-toggle="dropdown">Research the UN <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li class="first leaf"><a href="https://library.un.org/content/un-resources-documents" title="Information about Library resources about the United Nations">UN Resources &amp; Documents</a></li>
                    <li class="leaf"><a href="https://digitallibrary.un.org/" title="Explore documents, votes, speeches, public domain publications and more!">UN Digital Library</a></li>
                    <li class="leaf"><a href="http://research.un.org/en" title="Information about research guides produced by the Dag Hammarskjöld Library">Research Guides</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/index-proceedings-0" title="Index to Proceedings">Index to Proceedings</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/voting-information" title="Voting information">Voting Information</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/speeches-and-meetings" title="Gives access to the Index to Speeches database">Speeches</a></li>
                    <li class="last leaf"><a href="https://library.un.org/unms" title="Access information about UN Member States">UN Member States on the Record</a></li>
                    </ul>
                </li>
                <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active" data-toggle="dropdown">Find <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li class="first leaf"><a href="https://library.un.org/content/articles-books-more" title="Articles, books &amp; more">Articles, Books &amp; More</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/databases-0" title="Databases">Databases</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/journals" title="Journals">Journals</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/un-resources-documents" title="Information about library resources about the United Nations">UN Resources &amp; Documents</a></li>
                    <li class="last leaf"><a href="https://library.un.org/content/un-libraries" title="UN Libraries">UN Libraries</a></li>
                    </ul>
                </li>
                <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active" data-toggle="dropdown">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li class="first leaf"><a href="https://library.un.org/content/training" title="Training">Training</a></li>
                    <li class="leaf"><a href="http://research.un.org/en" title="Information about research guides produced by the Dag Hammarskjöld Library">Research Guides</a></li>
                    <li class="last leaf"><a href="http://ask.un.org/" title="Ask DAG is a FAQ database that lets one ask a question directly or browse over 500 questions and answers about all things UN; topics like the General Assembly, UN documents, international law, etc.">Ask DAG</a></li>
                    </ul>
                </li>
                <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active" data-toggle="dropdown">Services for... <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li class="first leaf"><a href="https://library.un.org/content/services-delegates" title="Services for Delegates">Delegates</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/services-un-staff" title="Services for UN Staff">UN Staff</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/services-researchers-and-librarians" title="Services for Researchers &amp; Librarians">Researchers &amp; Librarians</a></li>
                    <li class="last leaf"><a href="https://library.un.org/content/services-general-public" title="Services for General Public">General Public</a></li>
                    </ul>
                </li>
                <li class="expanded active dropdown"><a href="/" title="" class="dropdown-toggle active" data-toggle="dropdown">Using the Library <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li class="first leaf"><a href="https://library.un.org/content/access-electronic-resources" title="Access electronic resources">Access Electronic Resources</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/borrow-books-more" title="Borrow books &amp; more">Borrow Books &amp; More</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/print-scan-copy" title="Print, scan &amp; copy">Print, Scan &amp; Copy</a></li>
                    <li class="leaf"><a href="https://library.un.org/content/request-articles-books-documents" title="Request articles, books &amp; documents">Request Articles, Books &amp; Documents</a></li>
                    <li class="last leaf"><a href="https://library.un.org/content/visit-library" title="Visit the Library">Visit the Library</a></li>
                    </ul>
                </li>
                <li class="last leaf"><a href="https://library.un.org/content/contact-us-0" title="Contact us">Contact Us</a></li>
                </ul>  
            </nav>
        </div>
        </div>
    </div>
</div>