<!-- Start UN language bar-->

<nav class="navbar navbar-expand-lg fixed-top" id="brand-bar">
    <div class="container brandbar-header">
        <i class="fas fa-home"></i><a class="navbar-brand" href="/">{{_('Welcome to the United Nations')}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#langbar" aria-controls="langbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="langbar">
            <ul class="language-switcher-locale-url navbar-nav {{margin}}" role="menu">
                <li class="nav-item"><a id="ar" href="?lang=ar" class="nav-link lang" xml:lang="ar">العربية</a></li>
                <li class="nav-item"><a id="zh" href="?lang=zh" class="nav-link lang" xml:lang="zh-hans">中文</a></li>
                <li class="nav-item"><a id="en" href="?lang=en" class="nav-link lang" xml:lang="en">English</a></li>
                <li class="nav-item"><a id="fr" href="?lang=fr" class="nav-link lang" xml:lang="fr">Français</a></li>
                <li class="nav-item"><a id="ru" href="?lang=ru" class="nav-link lang" xml:lang="ru">Русский</a></li>
                <li class="nav-item"><a id="es" href="?lang=es" class="nav-link lang" xml:lang="es">Español</a></li>
            </ul>                
        </div>
    </div>
</nav>