Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Babel==0.11.2
Flask-Caching==1.4.0
idna==2.7
isodate==0.6.0
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
pylibmc==1.6.0
pymemcache==2.0.0
pyparsing==2.2.2
pytz==2018.5
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.20.1
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
