@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body {
    font-family: 'Roboto', sans-serif;
}

#brand-bar {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    border: none !important;
    border-bottom: #00adef solid 5px !important;
    height: 41px;
    min-height: inherit; 
}
#brand-bar .navbar-header {
    padding: 9.1px 0 3.9px 10.4px;
    width: 100%; 
}
#brand-bar .brandbar-header {
    padding-top: 10px; 
}
#brand-bar .brandbar-header a {
    padding: 0 13px 0 0 !important;
    font-size: 12.35px;
    line-height: 17.03px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none; 
}
#brand-bar .brandbar-header a.active {
    font-weight: bold;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; 
}
#brand-bar .brandbar-header a:last-child {
    padding-right: 0; 
}

.fa-home {
    margin-right: 7.8px;
}

.fa-arrow-right {
    line-height: 1.5;
}

.fa-arrow-left {
    line-height: 1.5;
}

.plus-minus {
    line-height: 1.5;
    text-decoration: none;
}

#brand-bar .brandbar-header a.navbar-brand:before {
    font-family: FontAwesome;
    color: black;
    /*content: "\f015";*/
    font-size: 18.07px;
    line-height: 0.9;
    margin-right: 7.8px;
    float: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

h1#site-identifier {
    font-size: 2rem;
    line-height: 0.85;
    font-weight: 400;
    color: #3E4A73;
    margin-bottom: 1px;
}

nav#site-nav {
    border-bottom: 1px solid #3E4A73;
}

nav#service-nav {
    border-bottom: 1px solid #3E4A73;
}

.bc-link {
    color: #3E4A73;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

div.pagination {
    height: 1px;
}

.modal-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


.un-brand {
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #4d4d4d;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding-left: 30px;
}

/* UN footer (from WSS ) *************************************************************************/
.footer .list-inline .footer-brand {
	height: 21px;
	margin-top: -6px;
	margin-bottom: 10px;
	background: url(https://www.un.org/sites/www.un.org/themes/bootstrap_un/images/un-logo-footer.png) left top no-repeat;
}

.footer .list-inline .footer-brand a {
	font-weight: 500;
	font-size: 21px;
	line-height: 21px;
	letter-spacing: -0.02em;
	color: #4d4d4d;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding-left: 30px;
}

.footer #block-menu-menu-footer-links ul.nav li {
	float: left;
	padding-right: 6.5px;
	margin-right: 5.85px;
	border-right: #737373 solid 1px;
	line-height: 1;
}

.footer #block-menu-menu-footer-links ul.nav li.last {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.list-inline > .col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.footer ul.nav {
    list-style: none;
    padding-left: 2px;
    padding-bottom: 26px;
}

.footer ul.nav li {
	padding: 0;
	margin: 0 0 6.5px 0;
}

.footer ul.nav li a {
	padding: 0;
	margin: 0;
	color: #333333;
	font-size: 13px;
    line-height: 1.46153846;
}

.footer ul.nav li {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
}

.list-inline .nav > li {
	position: relative;
	display: block;
}

.list-inline {
	margin-top: 50px;
}

#un_footer ul.nav {
	list-style: none;
}

#un_footer ul.nav li {
	float: left;
}

#un_footer ul.nav li a {
	color: #3F4A74;
	padding: 0 10px 0 0;
	font-size: 12px;
}

.footer_menu ul {
    padding: 0;
}
