{% extends 'sdg_base.html' %}
{% block container %}
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{data['prefLabel']}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="goals">
                    {% for goal in data['goals'] %}
                        <div class="row my-2" id="goal-{{goal['id']}}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            {% for goal in data['goals'] %}
                $("#goal-{{goal['id']}}").load("{{url_for('sdg._expand',uri=goal['uri'], rdf_type='goal', lang=lang, id=goal['id'])}}");
            {% endfor %}
        });
    </script>
{% endblock %}