{% set tid = target.gid %}
<div class="col-sm-12">
    <div class="row">
        <div class="col-1">
            <a id="target-collapser-{{gid}}" 
                class="plus-minus bc-link far fa-plus-square" 
                data-toggle="collapse" 
                href="#target-collapse-{{gid}}" 
                aria-expanded="false" 
                aria-controls="target-collapse-{{gid}}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{{target.uri}}?lang={{lang}}" class="bc-link">{{ target.note.label }}: </a>
        </div>
        <div class="col">
            <a href="{{target.uri}}?lang={{lang}}" class="bc-link">
            {{ target.pref_label(lang).label }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col">
            <div class="row mx-2 collapse hide" id="indicator-collapse-{{gid}}">
                <div class="col-sm-12" id="goals">
                    {% for indicator in target.indicators %}
                        <div class="row my-2" id="indicator-{{indicator['id']}}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>