{% extends 'sdg_base.html' %}
{% block container %}
<div class="container">
    <div class="col-sm-12">
        <div class="row my-2">
            <div class="col-sm-2">{{_('skos:prefLabel')}}</div>
            <div class="col-sm-9">{{data['skos:prefLabel']}}</div>
        </div>
        {% if data['skos:note'] %}
        <div class="row my-2">
            <div class="col-sm-2">{{_('skos:note')}}</div>
            <div class="col-sm-9">
                {% for note in data['skos:note'] %}
                <div class="row">
                    <div class="col">
                        {{note['label']}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row my-2">
            <div class="col-sm-2">{{_('skos:inScheme')}}</div>
            <div class="col-sm-9">
                {% for inscheme in data['skos:inScheme'] %}
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <a class="bc-link" href="{{inscheme['uri']}}?lang={{lang}}">{{inscheme['uri']}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if data['skos:broader'] %}
        <div class="row">
            <div class="col-sm-2">{{_('skos:broader')}}</div>
            <div class="col-sm-9">
                {% for broader in data['skos:broader'] %}
                <div class="row">
                    <div class="col">
                        <a class="bc-link" href="{{broader['uri']}}?lang={{lang}}">{{broader['note']['label']}}: {{broader['pref_label'].label}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data['sdgo:tier'] %}
        <div class="row my-2">
            <div class="col-sm-2">{{_('sdgo:tier')}}</div>
            <div class="col-sm-9">
                {% for tier in data['sdgo:tier'] %}
                <div class="row">
                    <div class="col">
                        <a class="bc-link" href="{{tier['uri']}}?lang={{lang}}">{{tier['uri']}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if child_accessor != None and data[child_accessor] != None %}
        <div class="row my-2">
            <div class="col-sm-2">{{child_accessor}}</div>
            <div class="col-sm-9">
                {% for child in data[child_accessor] %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col">
                        <a class="bc-link" href="{{child['uri']}}?lang={{lang}}">
                            {% if child.note != None %}
                                {{child.note['label']}}: 
                            {% endif %}
                            {{child.pref_label(lang).label}}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row my-2">
            <div class="col-sm-2">{{_('URI')}}</div>
            <div class="col-sm-9">{{data['URI']}}</div>
        </div>
    </div>
</div>
{% endblock %}