{% extends 'sdg_base.html' %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="metadata" class="row">
                <div class="col-12">
                    <h2 style="display:none;">{{_('Metadata')}}</h2>
                    <dl>
                        <dt>{{_('IRI')}}</dt>
                        <dd><code>http://metadata.un.org/sdg/ontology</code></dd>
                        <dt>{{_('Ontology Source')}}</dt>
                        <dd><a class="bc-link" href="{{url_for('sdg.static',filename='sdgs-ontology.ttl')}}">{{_('RDF (turtle)')}}</a></dd>
                    </dl>
                </div>
            </section>
            <section id="toc" class="row">
                <div class="col-12">
                    <h2>{{_('Table of Contents')}}</h2>
                    <ol>
                        <li><a class="bc-link" href="#classes">{{_('Classes')}}</a></li>
                        <li><a class="bc-link" href="#objectproperties">{{_('Object Properties')}}</a></li>
                        <li><a class="bc-link" href="#datatypeproperties">{{_('Datatype Properties')}}</a></li>
                        <li><a class="bc-link" href="#instances">{{_('Instances')}}</a></li>
                        <li><a class="bc-link" href="#namespaces">{{_('Namespaces')}}</a></li>
                    </ol>
                </div>
            </section>
            <section id="classes"  class="row">
                <div class="col-12">
                    <h2>{{_('Classes')}} <span style="float:right; font-size:smaller;"><a class="bc-link" href="">&uparrow;</a></span></h2>
                    <ul class="hlist">
                        <li><a class="bc-link" href="#goal">{{_('Goal')}}</a></li>
                        <li><a class="bc-link" href="#indicator">{{_('Indicator')}}</a></li>
                        <li><a class="bc-link" href="#series">{{_('Series')}}</a></li>
                        <li><a class="bc-link" href="#target">{{_('Target')}}</a></li>
                        <li><a class="bc-link" href="#tierclassificationforglobalsdgindicators">{{_('Tier Classification for Global SDG Indicators')}}</a></li>
                    </ul>
                    <div class="entity class" id="goal">
                        <h3>{{_('Goal')}}<sup title="class" class="sup-c">c</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#Goal</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-classes')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup class="sup-c" title="class">c</sup><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('In domain of')}}</th>
                                <td>
                                    <a class="bc-link" href="#hastarget">http://metadata.un.org/sdg/ontology#hasTarget</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity class" id="indicator">
                        <h3>Indicator<sup title="class" class="sup-c">c</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#Indicator</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-classes')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup class="sup-c" title="class">c</sup><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('In domain of')}}</th>
                                <td>
                                    <a class="bc-link" href="#hascustodianagency">http://metadata.un.org/sdg/ontology#custodianAgency</a><sup class="sup-dp" title="datatype property">dp</sup><br/>
                                    <a class="bc-link" href="#tier">http://metadata.un.org/sdg/ontology#tier</a><sup class="sup-op" title="object property">op</sup><br/>
                                    <a class="bc-link" href="#hasseries">http://metadata.un.org/sdg/ontology#hasSeries</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('In range of')}}</th>
                                <td>
                                    <a class="bc-link" href="#hasindicator">http://metadata.un.org/sdg/ontology#hasIndicator</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity class" id="series">
                        <h3>{{_('Series')}}<sup title="class" class="sup-c">c</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#Series</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-classes')}}</th>
                                <td>
                                    <a class="bc-link" href="http://schema.org/Dataset">{{_('schema:Dataset')}}</a><sup class="sup-c" title="class">c</sup><br/>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#Concept">{{_('skos:Concept')}}</a><sup class="sup-c" title="class">c</sup><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('In range of')}}</th>
                                <td>
                                    <a class="bc-link" href="#hasseries">http://metadata.un.org/sdg/ontology#hasSeries</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity class" id="target">
                        <h3>{{_('Target')}}<sup title="class" class="sup-c">c</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#Target</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-classes')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup class="sup-c" title="class">c</sup><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('In domain of')}}</th>
                                <td>
                                    <a class="bc-link" href="#hasindicator">http://metadata.un.org/sdg/ontology#hasIndicator</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('In range of')}}</th>
                                <td>
                                    <a class="bc-link" href="#hastarget">http://metadata.un.org/sdg/ontology#hasTarget</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity class" id="tierclassificationforglobalsdgindicators">
                        <h3>{{_('Tier Classification for Global SDG Indicators')}}<sup title="class" class="sup-c">c</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#Tier</code></td>
                            </tr>
                            <tr>
                                <th>{{_('In range of')}}</th>
                                <td>
                                    <a class="bc-link" href="#tier">http://metadata.un.org/sdg/ontology#tier</a><sup class="sup-op" title="object property">op</sup><br/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <section id="objectproperties"  class="row">
                <div class="col-12">
                    <h2>{{_('Object Properties')}} <span style="float:right; font-size:smaller;"><a class="bc-link" href="">&uparrow;</a></span></h2>
                    <ul class="hlist">
                        <li><a class="bc-link" href="#hasindicator">{{_('has indicator')}}</a></li>
                        <li><a class="bc-link" href="#hasseries">{{_('has series')}}</a></li>
                        <li><a class="bc-link" href="#hastarget">{{_('has target')}}</a></li>
                        <li><a class="bc-link" href="#tier">{{_('tier')}}</a></li>
                        <li><a class="bc-link" href="#subject">{{_('subject')}}</a></li>
                    </ul>
                    <div class="entity property" id="hasindicator">
                        <h3>{{_('has indicator')}}<sup title="object property" class="sup-op">op</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#hasIndicator</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-properties')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#narrower">skos:narrower</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Domain(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#cible">http://metadata.un.org/sdg/ontology#Target</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Range(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#indicator">http://metadata.un.org/sdg/ontology#Indicator</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity property" id="hasseries">
                        <h3>{{_('has series')}}<sup title="object property" class="sup-op">op</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#hasSeries</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-properties')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#narrower">skos:narrower</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Domain(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#indicator">http://metadata.un.org/sdg/ontology#Indicator</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Range(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#series">http://metadata.un.org/sdg/ontology#Series</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity property" id="hastarget">
                        <h3>{{_('has target')}}<sup title="object property" class="sup-op">op</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#hasTarget</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Super-properties')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#narrower">skos:narrower</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Domain(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#goal">http://metadata.un.org/sdg/ontology#Goal</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Range(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#cible">http://metadata.un.org/sdg/ontology#Target</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity property" id="tier">
                        <h3>{{_('tier')}}<sup title="object property" class="sup-op">op</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#tier</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Domain(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#indicator">http://metadata.un.org/sdg/ontology#Indicator</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Range(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#tierclassificationforglobalsdgindicators">http://metadata.un.org/sdg/ontology#Tier</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity property" id="subject">
                        <h3>{{_('subject')}}<sup title="object property" class="sup-op">op</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://purl.org/dc/terms/{{_('subject')}}</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Domain(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Range(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <section id="datatypeproperties" class="row">
                <div class="col-12">
                    <h2>{{_('Datatype Properties')}} <span style="float:right; font-size:smaller;"><a class="bc-link" href="">&uparrow;</a></span></h2>
                    <ul class="hlist">
                        <li><a class="bc-link" href="#hascustodianagency">{{_('has custodian agency')}}</a></li>
                        <li><a class="bc-link" href="#keywords">{{_('keywords')}}</a></li>
                    </ul>
                    <div class="entity property" id="hascustodianagency">
                        <h3>{{_('has custodian agency')}}<sup title="datatype property" class="sup-dp">dp</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#custodianAgency</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Domain(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="#indicator">http://metadata.un.org/sdg/ontology#Indicator</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Range(s)')}}</th>
                                <td>
                                    <a class="bc-link" href="http://www.w3.org/2001/XMLSchema#string">xsd:string</a><sup class="sup-c" title="class">c</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity property" id="keywords">
                        <h3>{{_('keywords')}}<sup title="datatype property" class="sup-dp">dp</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://schema.org/keywords</code></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <section id="instances" class="row">
                <div class="col-12">
                    <h2>{{_('Instances')}} <span style="float:right; font-size:smaller;"><a class="bc-link" href="">&uparrow;</a></span></h2>
                    <ul class="hlist">
                        <li><a class="bc-link" href="#tier_I">{{_('Tier I')}}</a></li>
                        <li><a class="bc-link" href="#tier_II">{{_('Tier II')}}</a></li>
                        <li><a class="bc-link" href="#tier_III">{{_('Tier III')}}</a></li>
                    </ul>
                    <div class="entity instance" id="tier_I">
                        <h3>{{_('Tier I') }}<sup title="instance" class="sup-i">i</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#tier_I</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Is defined by')}}</th>
                                <td>
                                    <a class="bc-link" href="https://unstats.un.org/sdgs/iaeg-sdgs/tier-classification">https://unstats.un.org/sdgs/iaeg-sdgs/tier-classification</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Comment')}}</th>
                                <td>
                                    {{_('Indicator is conceptually clear, has an internationally established methodology and standards are available, and data are regularly produced by countries for at least 50 per cent of countries and of the population in every region where the indicator is relevant.')}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity instance" id="tier_II">
                        <h3>{{_('Tier II')}}<sup title="instance" class="sup-i">i</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#tier_II</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Is defined by')}}</th>
                                <td>
                                    <a class="bc-link" href="https://unstats.un.org/sdgs/iaeg-sdgs/tier-classification">https://unstats.un.org/sdgs/iaeg-sdgs/tier-classification</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Comment')}}</th>
                                <td>
                                    {{_('Indicator is conceptually clear, has an internationally established methodology and standards are available, but data are not regularly produced by countries.')}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity instance" id="tier_III">
                        <h3>{{_('Tier III')}}<sup title="instance" class="sup-i">i</sup></h3>
                        <table>
                            <tr>
                                <th>{{_('IRI')}}</th>
                                <td><code>http://metadata.un.org/sdg/ontology#tier_III</code></td>
                            </tr>
                            <tr>
                                <th>{{_('Is defined by')}}</th>
                                <td>
                                    <a class="bc-link" href="https://unstats.un.org/sdgs/iaeg-sdgs/tier-classificationr">https://unstats.un.org/sdgs/iaeg-sdgs/tier-classification</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{{_('Comment')}}</th>
                                <td>
                                    {{_('No internationally established methodology or standards are yet available for the indicator, but methodology/standards are being (or will be) developed or tested.')}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <section id="namespaces" class="row">
                <div class="col-12">
                    <h2>{{_('Namespaces')}} <span style="float:right; font-size:smaller;"><a class="bc-link" href="">&uparrow;</a></span></h2>
                    <dl>
                        <dt><em>default (:)</em></dt>
                        <dd><code>http://metadata.un.org/sdg/ontology#</code></dd>
                        <dt>dct</dt>
                        <dd><code>http://purl.org/dc/terms/</code></dd>
                        <dt>owl</dt>
                        <dd><code>http://www.w3.org/2002/07/owl#</code></dd>
                        <dt>rdf</dt>
                        <dd><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></dd>
                        <dt>rdfs</dt>
                        <dd><code>http://www.w3.org/2000/01/rdf-schema#</code></dd>
                        <dt>schema</dt>
                        <dd><code>http://schema.org/</code></dd>
                        <dt>skos</dt>
                        <dd><code>http://www.w3.org/2004/02/skos/core#</code></dd>
                        <dt>xml</dt>
                        <dd><code>http://www.w3.org/XML/1998/namespace</code></dd>
                        <dt>xsd</dt>
                        <dd><code>http://www.w3.org/2001/XMLSchema#</code></dd>
                    </dl>
                </div>
            </section>
            <section id="legend" class="row">
                <div class="col-12">
                    <h2>{{_('Legend')}}</h2>
                    <table class="entity">
                        <tr><td><sup class="sup-c" title="Classes">c</sup></td><td>{{_('Classes')}}</td></tr>
                        <tr><td><sup class="sup-op" title="Object Properties">op</sup></td><td>{{_('Object Properties')}}</td></tr>
                        <tr><td><sup class="sup-fp" title="Functional Properties">fp</sup></td><td>{{_('Functional Properties')}}</td></tr>
                        <tr><td><sup class="sup-dp" title="Data Properties">dp</sup></td><td>{{_('Data Properties')}}</td></tr>
                        <tr><td><sup class="sup-ap" title="Annotation Properties">dp</sup></td><td>{{_('Annotation Properties')}}</td></tr>
                        <tr><td><sup class="sup-p" title="Properties">p</sup></td><td>{{_('Properties')}}</td></tr>
                        <tr><td><sup class="sup-ni" title="Named Individuals">ni</sup></td><td>{{_('Named Individuals')}}</td></tr>
                        <tr><td><sup class="sup-i" title="Instances">i</sup></td><td>{{_('Instances')}}</td></tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}