* , ::after, ::before {
    box-sizing: border-box
}

.bootstrap-iso .m-auto {
    margin: auto!important;
}

.bootstrap-iso .ml-auto {
    margin-left: auto!important;
}

.bootstrap-iso .mr-auto {
    margin-right: auto!important;
}

.bootstrap-iso .pr-4 {
    padding-right: 4em;
}

.bootstrap-iso .pl-4 {
    padding-left: 4em;
}

.bootstrap-iso .mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.bootstrap-iso .mt-2, .my-2 {
    margin-top: .5rem!important;
}

.bootstrap-iso nav {
    display: block;
}

.bootstrap-iso nav#service-nav {
    border-bottom: 1px solid #3E4A73;
    border-top: 1px solid #3E4A73;
}

.bootstrap-iso .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}

.bootstrap-iso .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.bootstrap-iso .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-radius: 0px;
}

.bootstrap-iso .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.bootstrap-iso .navbar-light .navbar-nav li .active {
    color: rgba(0,0,0,.9);
}

.bootstrap-iso .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

.bootstrap-iso .navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

.bootstrap-iso .navbar-brand {
    display: inline-block;
    font-size: 2rem;
    white-space: nowrap;
}

.bootstrap-iso ul, menu, dir {
    display: block;
    /*list-style-type: disc;*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.bootstrap-iso li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.bootstrap-iso .nav-link {
    display: block;
    padding: .5rem 1rem;
}

.bootstrap-iso a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}