<script>
var springStats = springStats || {};
springStats.saConfig = springStats.saConfig || {
    site_id: 50,
    tracking_parameters: {"_st_site_id":50},
    tracking_server_host: "libguides-proc.springyaws.com"
};
</script>
<script async  src="//lgapi-us.libapps.com/web/js/sa.min.js?3116"></script>
<script>
    springSpace.Common = springSpace.Common || { };
    springSpace.Common.constant = { PROCESSING: { ACTION_DISPLAY_POLL: 159 }};
    springSpace.Common.baseURL = "//lgapi-us.libapps.com'/";
    springSpace.Common.apiLoad = true;
</script><script>
springshare_widget_config_1569939801011 = { path: 'boxes/22304219' };
</script>
<div id="s-lg-widget-1569939801011"></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=50&widget_type=8&output_format=1&widget_title=%D8%AD%D9%88%D9%84+%D9%85%D9%83%D9%86%D8%B2+%D9%86%D8%B8%D8%A7%D9%85+%D8%A7%D9%84%D8%A3%D9%85%D9%85+%D8%A7%D9%84%D9%85%D8%AA%D8%AD%D8%AF%D8%A9+%D9%84%D9%84%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A7%D8%AA+%D8%A7%D9%84%D8%A8%D8%A8%D9%84%D9%8A%D9%88%D8%BA%D8%B1%D8%A7%D9%81%D9%8A%D8%A9&widget_height=&widget_width=&widget_embed_type=1&guide_id=545492&box_id=22304219&map_id=26181596&content_only=0&config_id=1569939801011";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1569939801011");</script>