{% extends 'thesaurus_base.html' %}
{% block container %}
<div class="container justify-content-start">
    <div class="row-fluid">
        <div id="collapseGroup" class="col-12">
            {% for d in data %}
            <div class="row collapsible">
                <a id="domainCollapser-{{ d['identifier'] }}" class="plus-minus bc-link far fa-plus-square mx-2" data-toggle="collapse" href="#domainCollapse-{{ d['identifier'] }}" aria-expanded="false" aria-controls="domainCollapse-{{ d['identifier'] }}"></a>
                <a class="bc-link domain" href="{{ d['uri'] }}">{{ d['identifier'] }} - {{ d['title'] }}</a>
                <div class="container collapse" id="domainCollapse-{{ d['identifier'] }}">
                    <div id="{{ d['identifier'] }}" class="col">
                    {% for m in d['childconcepts'] %}
                        <div class="row"><a class="bc-link" href="{{ m['uri'] }}&lang={{ lang }}">{{ m['dc:identifier'] }} - {{ m['prefLabel'] }}</a></div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- This performs tasks that are specific to UNBIS Thesaurus -->
<!-- It really needs to go in its own file thesaurus/static -->
<script type="text/javascript">
$(function() {
  $('a.plus-minus').on('click', function(event) {
    $(this).toggleClass('fa-plus-square fa-minus-square');
    $.getJSON('/thesaurus/_expand_category', {
        category: $(this).attr('id').split('-')[1]
    }, function(data) {
        $.each(data.return_data, function() {
            $('div#' + domain).append(
                '<div class="row"><a class="bc-link" href="#">foo</a></div>'
            );
        });
    });
  });
});
</script>
{% endblock %}