{% extends 'base.html' %}
{% set subtitle = subtitle|default(_('Home')) %}
{% block title %}
  {{ subtitle }}|{{ title }}
{% endblock %}
{% block content %}
{% set subnavigation_bar = [
  (url_for('thesaurus.categories', lang=lang), 'categories', _('Browse Concepts')),
  (url_for('thesaurus.alphabetical', lang=lang), 'alphabetical', _('Browse Alphabetically')),
  (url_for('thesaurus.about', lang=lang), 'about', _('About'))
] -%}

{% set active_page = active_page|default('') -%}

<div class="bootstrap-iso">
  <div class="container">
  <nav id="service-nav" class="navbar navbar-expand-lg navbar-light mb-2 mt-2">
    <a class="navbar-brand" href="{{url_for('thesaurus.index', lang=lang)}}">{{_('UNBIS Thesaurus')}}</a>
    <ul class="navbar-nav m-auto">
      {% for href, id, caption in subnavigation_bar %}
      <li {% if id == active_page %} class="active"{% endif %}>
        <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
      </li>
      {% endfor %}
    </ul>
    <form class="form-inline {{margin}}" action="./search">
      <input class="form-control mr-sm-2" type="search" placeholder="{{_('Search')}}" aria-label="{{_('Search')}}" id="autocomplete" name="q">
      <input type="hidden" name="lang" value={{lang}} id="lang-input">
      <button class="btn btn-default" type="submit" id="search-btn" value="Search">{{_('Search')}}</button>
    </form>
  </nav>
  {% block container %}

  {% endblock %}
  {% block script %}

  {% endblock %}
</div>
</div>
{% endblock %}
