{% extends 'thesaurus_base.html' %}
{% block container %}
<div class="container-fluid">
    <h2>{{ data['prefLabel'] }} </h2>
    <h5>
        {% for t in data['types'] %}
        <span class="badge badge-pill badge-secondary">
            {{ t }}
        </span>
        {% endfor %}
    </h5>
    <nav aria-label="breadcrumb">
        {% for bc in bcdata %}
        <ol class="breadcrumb my-0 py-1 rounded-0">
            <li class="breadcrumb-item">
                <a href="{{bc['conceptScheme']['uri']}}&lang={{lang}}">{{bc['conceptScheme']['title']}}</a>
            </li> 
            {% for cp in bc['conceptPath'] %}
                {% if loop.last %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{cp['prefLabel']}}
                </li>
                {% else %}
                <li class="breadcrumb-item"><a href="{{cp['uri']}}&lang={{lang}}">{{cp['prefLabel']}}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
        {% endfor %}        
    </nav>
    {% if data['altLabels'] %}
    <div class="row justify-content-start">
        <div class="col-2">
            {{_('Used For')}}
        </div>
        <div class="col-2">
            {% for uf in data['altLabels'] %}
            <div class="row">
                {{ uf }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if data['scopeNotes'] %}
    <div class="row">
        <div class="col-2">
            {{_('Scope Note')}}
        </div>
        {% for sn in data['scopeNotes'] %}
        <div class="col">
            {{ sn }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row justify-content-between">
        <div class="col-5">
            {% if data['broaders'] %}
            <div class="row">
                <div class="col">
                    {{_('Broader Terms')}}
                </div>
                <div class="col">
                    {% for n in data['broaders'] %}
                    <div class="row"><a href="{{ n['uri'] }}&lang={{ lang }}">{{ n['prefLabel'] }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if data['relateds'] %}
            <div class="row">
                <div class="col">
                    {{_('Related Terms')}}
                </div>
                <div class="col">
                    {% for n in data['relateds'] %}
                    <div class="row"><a href="{{ n['uri'] }}&lang={{ lang }}">{{ n['prefLabel'] }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if data['narrowers'] %}
            <div class="col">
                {{_('Narrower Terms')}}
            </div>
            <div class="col">
                {% for n in data['narrowers'] %}
                <div class="row"><a href="{{ n['uri'] }}&lang={{ lang }}">{{ n['prefLabel'] }}</a></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-5">
            <div class="row">{{_('Language Equivalents')}}</div>
            {% for label in data['labels'] %}
            <div class="row">
                <div class="col">{{ label['lang'] }}</div>
                <div class="col">{{ label['label'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
