{% extends 'thesaurus_base.html' %}
{% block container %}
<div class="row justify-content-around">
        <div class="col-sm-7">
            <!-- Preferred Label -->
            <div class="row my-2">
                <div class="col-3">
                  {{_('Preferred Term')}}
                </div>
                <div class="col">
                  <div class="row h4">{{ data['Preferred Term'].label }}</div>
                </div>  
            </div>
    {% if direction == 'ltr' %}
        {% set margin_direction = 'left' %}
    {% else %}
        {% set margin_direction = 'right' %}
    {% endif %}
            <!-- Hierarchy/Breadcrumbs -->
            <div class="row my-2">
                <div class="col-3">
                    {{_('Hierarchy')}}
                </div>
                <div class="col">
                    {% for bc in data['breadcrumbs'] %}
                    <div class="row pb-0">
                        <a class="bc-link" href="{{bc['breadcrumb']['domain']['uri']}}?lang={{lang}}"><small>{{ bc['breadcrumb']['domain']['identifier'] }} -</small> {{bc['breadcrumb']['domain']['label']}}</a>
                        {% for cp in bc['breadcrumb']['domain']['conceptPath'] %}
                          <div class="row" style="margin-{{margin_direction}}: 10px">
                            {% if loop.last %}
                            <a class="inactive bc-link" aria-current="page">
                                <small>{{ cp['identifier']}}</small> - {{cp['label']}}
                            </a>
                            {% else %}
                                {% if cp['identifier'] %}
                                <a class="bc-link" href="{{cp['uri']}}?lang={{lang}}">{{ cp['identifier'] }} - {{cp['label']}}</a>
                                {% else %}
                                <a class="bc-link" href="{{cp['uri']}}?lang={{lang}}">{{cp['label']}}</a>
                                {% endif %}
                            {% endif %}
                          </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div> 
            <!-- Narrower Terms -->
            <div class="row my-2">
                <div class="col-3">
                    {{_('Narrower Terms')}}
                </div>
                <div class="col">
                    {% for n in data['Narrower Terms'] %}
                        <div class="row"><a class="bc-link" href="{{ n['uri'] }}?lang={{ lang }}">{{ n['pref_label'].label }}</a></div>
                    {% endfor %}
                </div>
            </div>
            <!-- URI -->
            <div class="row my-2">
                <div class="col-3">
                  {{_('URI')}}
                </div>
                <div class="col">
                  <div class="row">{{ data['URI'] }}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
                  <!-- Labels -->
          <div class="row">
                {{_('Language Equivalents')}}
              </div>
            <div class="row my-2">
      
              <div class="col px-0">
                {% for label in data['Language Equivalents'] %}
                <div class="row justify-content-start">
                  <div class="col-1">{{ label['language'] }}</div>
                  <div class="col"><a class="bc-link" href="{{data['uri']}}?lang={{label['language']}}">{{ label['label'] }}</a></div>
                </div>
                {% endfor %}
              </div>
            </div>  
        </div>
</div>
{% endblock %}
