{% extends 'thesaurus_base.html' %}
{% set active_page = 'alphabetical' %}
{% block container %}
<div class="container justify-content-start">
    <div class="row-fluid">
        <div id="collapseGroup" class="col-12">
            {% if lang == 'zh' %}
                <div id="zh-labels"></div>
            {% else %}
                {% for d in data %}
                    <div class="row">
                    <a class="bc-link" href="{{ d['uri'] }}?lang={{ lang }}">{{ d['prefLabel'] }}</a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
