{% extends 'thesaurus_base.html' %}
{% block container %}
<div class="row justify-content-around">
    <div class="col-sm-7">
        <!-- Preferred Label -->
        <div class="row my-2">
            <div class="col-3">
              {{_('Preferred Term')}}
            </div>
            <div class="col">
              <div class="row h4">{{ data['Preferred Term'].label }}</div>
            </div>  
        </div>
      
        <div class="row my-2">
            <div class="col-3">
                {{_('Top Concepts')}}
            </div>
            <div class="col">
                {% for n in data['Top Concepts'] %}
                    <div class="row"><a class="bc-link" href="{{ n['uri'] }}?lang={{ lang }}"><small>{{ n['identifier'] }} -</small> {{ n['pref_label'].label }}</a></div>
                {% endfor %}
            </div>
        </div>
        <!-- URI -->
        <div class="row my-2">
            <div class="col-3">
              {{_('URI')}}
            </div>
            <div class="col">
              <div class="row">{{ data['URI'] }}</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
              <!-- Labels -->
      <div class="row">
            {{_('Language Equivalents')}}
          </div>
        <div class="row my-2">
  
          <div class="col px-0">
            {% for label in data['Language Equivalents'] %}
            <div class="row justify-content-start">
              <div class="col-1">{{ label['language'] }}</div>
              <div class="col"><a class="bc-link" href="{{data['uri']}}?lang={{label['lang']}}">{{ label['label'] }}</a></div>
            </div>
            {% endfor %}
          </div>
        </div>  
    </div>
</div>
{% endblock %}
