{% extends 'thesaurus_base.html' %}
{% block container %}
<div class="row justify-content-around">
    <div class="col-sm-7">
        <!-- Preferred Label -->
        <div class="row my-2">
            <div class="col-3">
              {{_('Preferred Term')}}
            </div>
            <div class="col">
              <div class="row h4">{{ data['identifier'] }} - {{ data['prefLabel'] }}</div>
            </div>  
        </div>
      
        <!-- URI -->
        <div class="row my-2">
            <div class="col-3">
              {{_('URI')}}
            </div>
            <div class="col">
              <div class="row">{{ data['uri'] }}</div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-3">
                {{_('Top Concepts')}}
            </div>
            <div class="col">
                {% for n in data['properties']['http://www.w3.org/2004/02/skos/core#hasTopConcept'] %}
                    <div class="row"><a class="bc-link" href="{{ n['uri'] }}?lang={{ lang }}">{{ n['dc:identifier'] }} - {{ n['prefLabel'] }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
              <!-- Labels -->
      <div class="row">
            {{_('Language Equivalents')}}
          </div>
        <div class="row my-2">
  
          <div class="col px-0">
            {% for label in data['labels'] %}
            <div class="row justify-content-start">
              <div class="col-1">{{ label['lang'] }}</div>
              <div class="col">{{ label['label'] }}</div>
            </div>
            {% endfor %}
          </div>
        </div>  
    </div>
</div>
{% endblock %}