{% extends 'base.html' %}
{% block content %}
<div class="container">
  <nav id="service-nav" class="navbar navbar-expand-lg navbar-light mb-2 mt-2">
    <a class="navbar-brand" href="{{url_for('thesaurus.index', lang=lang)}}">{{_('UNBIS Thesaurus')}}</a>
    <ul class="navbar-nav m-auto">
      <li class="nav-item"><a class="nav-link" href="#">{{_('Browse Categories')}}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{_('Browse Alphabetical')}}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{_('New Terms')}}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{_('Help')}}</a></li>
    </ul>
    <form class="form-inline {{margin}}">
      <input class="form-control mr-sm-2" type="search" placeholder="{{_('Search')}}" aria-label="{{_('Search')}}" id="autocomplete" name="q">
      <input type="hidden" name="lang" value={{lang}} id="lang-input">
      <button class="btn btn-default" type="submit" id="search-btn" value="Search">{{_('Search')}}</button>
    </form>
  </nav>
  {% block container %}

  {% endblock %}
  <!-- Footer -->
  <footer class="footer container">
    <div class="row list-inline">
      <div class="col footer-brand">
        <a href="http://www.un.org/en/index.html" title="Home">
          <span class="site-name">{{_('United Nations')}}</span>
        </a>
      </div>
      <div class="col">
        <section class="region region-footer-5">
          <div id="block-menu-menu-footer-links" class="block block-menu">
            <ul class="menu nav justify-content-end">
              <li class="first leaf"><a href="http://www.un.org/en/aboutun/copyright/index.html">{{_('Copyright')}}</a></li>
              <li class="leaf"><a href="http://www.un.org/en/sections/aboutun/fraud-alert/index.html">{{_('Fraud Alert')}}</a></li>
              <li class="leaf"><a href="http://www.un.org/en/sections/about-website/privacy-notice/index.html">{{_('Privacy Notice')}}</a></li>
              <li class="last leaf"><a href="http://www.un.org/en/sections/about-website/terms-use/index.html">{{_('Terms of Use')}}</a></li>
            </ul> 
          </div> 
        </section>
      </div>
    </div>
  </footer>
</div>
{% endblock %}