{% extends 'thesaurus_base.html' %} {% block container %}
<div class="row justify-content-around">
  <div class="col-sm-7">
    <!-- Preferred Label -->
    <div class="row my-2">
      <div class="col-3">
        {{ _("Preferred Term") }}
      </div>
      <div class="col">
        <div class="row h4">{{ data["Preferred Term"].label }}</div>
      </div>
    </div>

    <!-- Alternate Labels -->
    {% if data['altLabels'] %}
    <div class="row my-2">
      <div class="col-3">
        {{ _("Used For") }}
      </div>
      <div class="col">
        {% for uf in data['altLabels'] %}
        <div class="row">{{ uf }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- Scope Notes -->
    {% if data['scopeNotes'] %}
    <div class="row my-2">
      <div class="col-3">
        {{ _("Scope Note") }}
      </div>
      <div class="col">
        {% for sn in data['scopeNotes'] %}
        <div class="row">{{ sn }}</div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      {% if lang != 'en' and en_scope_notes != None %}
      <div class="row my-2">
          <div class="col-3">
            {{ _("Scope Note") }}
          </div>
          <div class="col">
            <div class="row">{{_('Available in English')}}</div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if direction == 'ltr' %}
        {% set margin_direction = 'left' %}
    {% else %}
        {% set margin_direction = 'right' %}
    {% endif %}
    <!-- Hierarchy/Breadcrumbs -->
    <div class="row my-2">
      <div class="col-3">
        {{ _("Hierarchy") }}
      </div>
      <div class="col-sm-8">
        {% for bc in data['bcdata'] %}
          <div class="row pb-0 mb-2">
          {% if loop.first %}
            <a id="hierarchyCollapser" class="plus-minus bc-link far fa-plus-square mx-2" data-toggle="collapse" 
              href="#hierarchyCollapse" 
              aria-expanded="false" 
              aria-controls="hierarchyCollapse"></a>
            <a class="bc-link domain" href="{{ bc['conceptScheme']['uri'] }}?lang={{ lang }}">
              <small>
                {{ bc["conceptScheme"]["identifier"] }} -
              </small> 
              {{ bc["conceptScheme"]["title"] }} 
            </a>
            <div class="container collapse" id="hierarchyCollapse">
              <div class="col-sm-12" id="{{ bc['conceptScheme']['identifier'] }}">
                {% for m in bc['conceptPath'] %}
                  {% set margin = loop.index*10 %}
                <div class="row" style="margin-{{margin_direction}}: {{margin}}px">
                  {% if loop.last %}
                      <a class="bc-link inactive">{{ m['prefLabel'] }}</a>
                  {% else %}
                  <a class="bc-link" href="{{ m['uri'] }}?lang={{ lang }}">
                    {% if m['identifier'] %}
                    <small>
                      {{ m["identifier"] }} -
                    </small> 
                    {% endif %}
                      {{ m["prefLabel"] }} 
                  </a>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
          <div class="row hidden hiddenHierarchy" style="margin-{{margin_direction}}: 10px">
          <a class="bc-link domain" href="{{ bc['conceptScheme']['uri'] }}?lang={{ lang }}">
              <small>
                {{ bc["conceptScheme"]["identifier"] }} -
              </small> 
              {{ bc["conceptScheme"]["title"] }} 
            </a>
            <div class="container collapse" id="hierarchyCollapse">
              <div class="col-sm-12" id="{{ bc['conceptScheme']['identifier'] }}">
                {% for m in bc['conceptPath'] %}
                  {% set margin = loop.index*10 %}
                <div class="row" style="margin-{{margin_direction}}: {{margin}}px">
                  {% if loop.last %}
                      <a class="bc-link inactive">{{ m['prefLabel'] }}</a>
                  {% else %}
                  <a class="bc-link" href="{{ m['uri'] }}?lang={{ lang }}">
                    {% if m['identifier'] %}
                    <small>
                      {{ m["identifier"] }} -
                    </small> 
                    {% endif %}
                      {{ m["prefLabel"] }} 
                  </a>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Broader Terms -->
    {% if data['Broader Terms'] %}
    <div class="row my-2">
      <div class="col-3">
        {{ _("Broader Terms") }}
      </div>
      <div class="col">
        {% for n in data['Broader Terms'] %}
        <div class="row">
          <a class="bc-link" href="{{ n['uri'] }}?lang={{ lang }}">{{
            n["pref_label"].label
          }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Narrower Terms -->
    {% if data['Narrower Terms'] %}
    <div class="row my-2">
      <div class="col-3">
        {{ _("Narrower Terms") }}
      </div>
      <div class="col">
        {% for n in data['Narrower Terms'] %}
        <div class="row">
          <a class="bc-link" href="{{ n['uri'] }}?lang={{ lang }}">{{
            n["pref_label"].label
          }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Related Terms -->
    {% if data['Related Terms'] %}
    <div class="row my-2">
      <div class="col-3">
        {{ _("Related Terms") }}
      </div>
      <div class="col">
        {% for n in data['Related Terms'] %}
        <div class="row">
          <a class="bc-link" href="{{ n['uri'] }}?lang={{ lang }}">{{
            n["pref_label"].label
          }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- URI -->
    <div class="row my-2">
      <div class="col-3">
        {{ _("URI") }}
      </div>
      <div class="col">
        <div class="row">{{ data["URI"] }}</div>
      </div>
    </div>
    <!-- API Downloads -->
    <div class="row my-2">
        <div class="col-3">
          {{ _("Other Formats") }}
        </div>
        <div class="col-4">
          <div class="row">
            {% for f in valid_formats %}
            <div class="col-3"><a class="bc-link" href="{{data['URI']}}.{{f}}">{{ f }}</a></div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-4">
    <!-- Labels -->
    <div class="row">
      {{ _("Language Equivalents") }}
    </div>
    <div class="row my-2">
      <div class="col px-0">
        {% for label in data['Language Equivalents'] %}
        <div class="row justify-content-start">
          <div class="col-1">{{ label["lang"] }}</div>
          <div class="col">
            <a
              class="bc-link"
              href="{{ data['uri'] }}?lang={{ label['lang'] }}"
              >{{ label["label"] }}</a
            >
          </div>
        </div>
        {% endfor %}
        {{data}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('a.plus-minus').on('click', function(event) {
      $(this).toggleClass('fa-plus-square fa-minus-square');
      $('.hiddenHierarchy').toggleClass('hidden');
    });
  });
</script>
{% endblock %}
