{% extends 'thesaurus_base.html' %}
{% block container %}

{% if direction=='ltr' %}
    {% set pull='left' %}
{% else %}
    {% set pull='right' %}
{% endif %}

<div class="row justify-content-around">
    <div class="col-sm-10">
        <div class="row my-2">
            <!-- {{ results }} -->
            <div class="col">
                <div class="row">
                    <h2>{{_('Search results')}}: {{query}} </h2>
                </div>
                <div class="row">
                    {% if count==0 %}
                    <h3>{{_('Term not found, find out more')}} <a href="http://research.un.org/en/thesaurus/about#s-lg-box-wrapper-25770762">{{_('here')}}</a>&nbsp;<span class="badge">EN</span></h3>
                    {% else %}
                    <h3>{{ count }} {{_('results')}}</h3>
                    {% endif %}
                </div>
                {% for res in results %}
                <div class="row">
                    <a class="bc-link" href="{{res.uri}}?lang={{lang}}">{{ res.pref_label }}</a>
                    {% if res.uf_highlights|length > 0 %}
                        &nbsp;
                        <span>
                        {{_('Used for')}}:&nbsp;
                        {% for al in res.uf_highlights %}
                            {{al|safe}}
                            {{ '; ' if not loop.last }}
                        {% endfor %}
                        </span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
