{% extends 'thesaurus_base.html' %}
{% block container %}
<div class="container-fluid">
    <h2>{{ data['prefLabel'] }} </h2>
    <div class="row mt-2">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                    {{ data['properties']['http://purl.org/dc/terms/description'][0] }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm">
            <table class="table table-sm table-borderless">
            {% for n in data['parts'] %}
                <tr>
                    <td></td>
                    <td><a class="bc-link" href="{{ n['uri'] }}&lang={{ lang }}">{{ n['dc:identifier'] }} - {{ n['prefLabel'] }}</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-sm">
            <table class="table table-sm table-borderless">
            {% for label in data['labels'] %}
                <tr>
                    <td>{{ label['lang'] }}</td>
                    <td>{{ label['label'] }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}